{% extends "administrator/base.html" %}
{% load widget_tweaks %}

{% block body %}
<div class="content">
                    <div class="container-fluid">
                        <div class="page-title-box">
                            <div class="row align-items-center">


                            </div> <!-- end row -->
                        </div>
                        <!-- end page-title -->

                        <div class="row">
                            <div class="col-12">
                                <div class="card m-b-30">
                                    <div class="card-body">

                        <div aria-hidden="true" aria-labelledby="uploadModalLabel" class="modal fade" id="uploadModal" role="dialog" tabindex="-1">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="uploadModalLabel">Upload Files</h5>
                        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="{% url 'file_upload' %}" class="dropzone" enctype="multipart/form-data" id="my-dropzone" method="post">
                            <input class="file_type" name="file_type" type="hidden" value="">
                            <input class="campaign_id" name="uploader_id" type="hidden" value="{{form.instance.id}}">
                            {% csrf_token %}
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
                    </div>
                </div>
            </div>
        </div>
                        <button class="open_uploader btn btn-primary" data-target="#uploadModal"
                                data-toggle="modal"
                                data-type="oursupporter"
                                type="button">
                           Upload
                        </button>
                        <div id="uploadStatus"></div>
                        <div id="oursupporterFileList"></div>
                        <input type="hidden" value="{{form.instance.id}}" class="form_instance_id">


                                    <form enctype="multipart/form-data" class="form-horizontal m-t-30" method="POST">
                                        {{ form.media }}
<!--                                        <div class="form-group row  {% if form.is_bound %} {% if field.errors %}has-danger{% else %}has-success{% endif %}{% endif %}">-->
<!--                                            <label for="{{ field.name }}" class="col-sm-2 col-form-label">Order items</label>-->
<!--                                                  {{ order_item_form.management_form }}-->
<!--                                                  {{ order_item_form.non_form_errors }}-->
<!--                                                  <div id="empty_form" style="display:none">-->
<!--                                                    <table class='no_error'>-->
<!--                                                        {{ order_item_form.empty_form }}-->
<!--                                                    </table>-->
<!--                                                  </div>-->
<!--                                                  <div class="col-sm-10">-->
<!--                                                    <div class="card">-->
<!--                                                          <div class="card-header">-->
<!--                                                        Order item-->
<!--                                                          </div>-->
<!--                                                          <div class="card-body">-->
<!--                                                            <div class="row">-->
<!--                                                              {% for form in order_item_form %}-->
<!--                                                                <div class="col-sm-12 inline {{order_item_form.prefix}}">-->
<!--                                                                  {% include "elements/form_formset.html" with form=form product=product %}-->
<!--                                                                </div>-->
<!--                                                              {% endfor %}-->
<!--                                                            </div>-->
<!--                                                          </div>-->
<!--                                                    </div>-->
<!--                                                   </div>-->
<!--                                        </div>-->
                                        {% include "elements/form.html" with form=form %}

										<div class="row float-right mt-5">
                                            <button type="submit" class="btn btn-primary">Submit</button>
										</div>
                                    </form>
                                    </div>
                                </div>
                            </div> <!-- end col -->
                        </div> <!-- end row -->


                    </div>
                    <!-- container-fluid -->

                </div>
{% endblock %}
{% block script %}
<script>

</script>
{% endblock %}