{% extends "administrator/base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block body %}
<div class="content">
                    <div class="container-fluid">
                        <div class="page-title-box">
                            <div class="row align-items-center">
                                <div class="col-sm-6">
                                    <h4 class="page-title">Donation List</h4>
                                </div>
                                <div class="col-sm-6">
                                    <ol class="breadcrumb float-right">
                                    

                                    </ol>
                                </div>
                            </div> <!-- end row -->
                        </div>
                        <div class="row mt-4">
                            <div class="col-md-8 col-lg-5">
                                <div class="card shadow rounded-4">
                                    <div class="card-body">
                                        <div class="row align-items-center g-3">
                                            <div class="col-md-2 col-4">
                                                <i class="h1 fas fa-rupee-sign"></i>
                                            </div>
                                            <div class="col-md-4 col-8">
                                                <h5 class="text-muted ">Total Amount</h5>
                                                <h4 class="text-black mb-0 amount">{{total_amount}}</h4>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8 col-lg-5">
                                <div class="card shadow rounded-4">
                                    <div class="card-body">
                                        <div class="row align-items-center g-3">
                                            <div class="col-md-2 col-4">
                                                <i class="h1 fas fa-rupee-sign"></i>
                                            </div>
                                            <div class="col-md-4 col-8">
                                                <h5 class="text-muted ">Total Tip</h5>
                                                <h4 class="text-black mb-0 tip_amt">{{total_tip}}</h4>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end page-title -->
						<div class="row align-items-center">
						    <form autocomplete="off" id="search_form" class="" action="" method="get" enctype="multipart/form-data">
						
						       <ul class="let-us-form">
                                   <li>
						            <div class="form-group">
						              <label>Campaigns</label>
                                        <select name="campaign" class="form-control">
                                            <option value="">All</option>
                                            {% for single in campaign %}
                                            <option value="{{single.title}}">{{single.title}}</option>
                                            {% endfor %}
                                        </select>
						            </div>
						            </li>
						          <li>
						            <div class="form-group">
						              <label>Start Date</label>
						                <input class="form-control start_date" name="start_date">
						            </div>
						            </li>
						            <li>
						             <div class="form-group">
						              <label>End Date</label>
						                <input class="form-control end_date" name="end_date">
						            </div>
						            </li>
						           
						            <li>
						              <div class="form-group">
						                <button id="apply" type="button" class="btn btn-primary submit">Apply</button>
						              </div>
						            </li>
						        </ul>
						  </form>
						</div>
                        <div class="row">
                            <div class="col-12">
                                <div class="card m-b-30">
                                    <div class="card-body">
                                        <table id="datatable" class="table table-hover dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                            <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>T.ID</th>
                                                <th>Phone</th>
                                                <th>Amount</th>
                                                <th>Mode</th>
                                                <th>Status</th>
                                                <th>For</th>
                                                <th>Date</th>
                                                <th class="no-sort"></th>
                                            </tr>
                                            </thead>


                                            <tbody>

                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div> <!-- end col -->
                        </div> <!-- end row -->
                    </div>
                    <div  class="modal fade">
                          <form id="model-form-delete" action="" method="post" >
                          {% csrf_token %}
                            <button type="submit" class="btn btn-danger"></button>
                          </form>
                    </div>
                    <!-- container-fluid -->
                    <input type="hidden" name="list_page_url" id="list_page_url"
                           value="{% url 'donation-list-ajax' %}">

                </div>
{% endblock %}
