{% extends "administrator/initial.html" %}
{% load static %}
{% block meta %}
  <meta http-equiv="refresh" content="3;url={%url 'main-landing-page'%}" />
{% endblock %}
{% block body %}
    <div class="card card-pages shadow-none">
                    <div class="card-body">
                        {% include "elements/message-block.html" %}
                        <div class="text-center m-t-0 m-b-15">
                                <a href="{% url 'auth-login' %}" class="logo logo-admin"><img src="{% static 'assets/images/logo-main-filled.png' %}" alt="" height="40"></a>
                        </div>
                        <h6 class="font-18 text-center">
                            Your new password has been set successfully.
                            <br><br>
                            Redirecting in 3 seconds...
                        </h6>
                    </div>
                </div>
{% endblock %}
