{% extends "frontend/base.html" %}
{% load widget_tweaks %}
{% load static %}
{% block body %}
<style>

  .dashboard-content {
    background-image: url('');
    }
</style>
    <div class="card card-pages shadow-none">

                    <div class="card-body">
                        {% include "elements/message-block.html" %}
                        
                        <h6 class="font-18 text-center">
                           We've emailed you instructions for setting your password, If an account exists with the email you entered. You should receive them shortly. If you don't receive an email, Please make sure you've entered the address you registered with, And check your spam folder.
                        </h6>
                    </div>

                </div>
{% endblock %}
