{% extends "frontend/base.html" %}
{% load widget_tweaks %}
{% load static %}
{% block body %}
<style>

  .dashboard-content {
    background-image: url('');
    }
</style>
 <section class="welcome_test">
	            <div class="row">
		            <div class="col-md-8">
                  {% include "elements/message-block.html" %}
		            	<div class="login-left">
		            		<form method="post">
                       {% csrf_token %}

                          {% for hidden_field in form.hidden_fields %}
                              {{ hidden_field }}
                          {% endfor %}
                      {% for field in form.visible_fields %}
                              <div class="form-group row  {% if form.is_bound %} {% if field.errors %}has-danger{% else %}has-success{% endif %}{% endif %}">

                              <div class="col-12">
                                  <label>USERNAME OR E-MAIL ADDRESS</label>
                                  {% render_field field class="form-control" %}
                                  {% if field.help_text %}
                                      <small class="form-text text-muted">{{ field.help_text|safe }}</small>
                                  {% endif %}
                                  {% for error in field.errors %}
                                  <div class="form-control-feedback">
                                      {{ error }}
                                  </div>
                                  {% endfor %}
                              </div>

                              </div>
                          {% endfor %}

		            			<div class="form-submit">
		            				<button class="btn btn-primary login_ctm_btn" type="submit">E-mail new password</button>
		            			</div>
		            		</form>
		            	</div>
		            </div>
	            </div>
	        </section>

{% endblock %}






<!--<!doctype html>-->
<!--  {% load static %}-->
<!--  {% load i18n %}-->
<!--  {% load widget_tweaks %}-->
<!--<html lang="en">-->
<!--  <head>-->
<!--    &lt;!&ndash; Required meta tags &ndash;&gt;-->
<!--    <meta charset="utf-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
<!--    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">-->
<!--    <link rel="stylesheet" href="{% static 'assets/plugins/bootstrap/css/bootstrap.css' %}">-->
<!--    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">-->
<!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css">-->
<!--    <link rel="icon" type="image/ico" href="{% static 'assets/img/fav_icon.png' %}" />-->
<!--    <title>{{ settings.PROJECT_TITLE }}</title>-->

<!--<style>-->
<!--.forgot_hint{-->
<!--  background: #edecfe;-->
<!--  display: block;-->
<!--  text-align: center;-->
<!--  padding: 15px 20px;-->
<!--  border-radius: 2px;-->
<!--  margin: 17px 0px;-->
<!--}-->
<!--.forgot_hint span{-->
<!--  font-size: 16px;-->
<!--  color: #d03d41;-->
<!--  font-weight: 500;-->
<!--  }-->

<!--.btn-primary {-->
<!--    height: 40px;-->
<!--    width: 100%;-->
<!--    line-height: 30px;-->
<!--    margin: 12px 0;-->
<!--}-->

<!--</style>-->

<!--  </head>-->
<!--  <body>-->
<!--    <section class="login forgot-password">-->
<!--      <div class="container-fluid">-->
<!--        <div class="row">-->
<!--          <div class="col-md-12 p-0">-->
<!--            <div class="left-box">-->
<!--                <div class="title">-->
<!--                  <h1><span><img src="{% static 'assets/img/truck-icon.png' %}"></span>{{ settings.PROJECT_TITLE }}</h1>-->
<!--                </div>-->
<!--                <div class="login-form">-->
<!--                 <form class="form" method="post" action="">-->

<!--                  <h4>Welcome!</h4>-->
<!--                      <div class="forgot_hint">-->
<!--                        <span>Enter your email address below, and we'll email instructions for setting a new password.</span>-->
<!--                      </div>-->
<!--                          <div class="input-group">-->
<!--                            {% csrf_token %}-->
<!--                              {% for field in form.visible_fields %}-->
<!--                                 {{ field|add_class:'form-control'|attr:'placeholder:Email' }}-->
<!--                                 {% if field.errors %}-->
<!--                                    <label id="{{ field.id_for_label }}-error" class="error" style="color: #ff2222; margin-left: 55px; margin-top: 5px;" for="{{ field.id_for_label }}">{{ field.errors.0 }}</label>-->
<!--                                  {% endif %}-->
<!--                                {% if field.help_text %}-->
<!--                                <p>{{ field.help_text|safe }}</p>-->
<!--                                {% endif %}-->
<!--                              {% endfor %}-->
<!--                          </div>-->
<!--&lt;!&ndash;                    <a class="btn btn-primary" href="dashboard.html">Submit</a>&ndash;&gt;-->
<!--                     <div class="card-footer justify-content-center button_position">-->
<!--                            <input type="submit" class="btn btn-login btn-primary" value="Submit" >-->
<!--                     </div>-->
<!--                  <div>-->
<!--                  <a href="{% url 'sys_login' %}" class="back_login">Back to Login</a>-->
<!--                  </div>-->

<!--                  </form>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="right-box">-->
<!--              &lt;!&ndash; <img class="img-fluid" src="images/login-bg.jpg" alt="img"> &ndash;&gt;-->
<!--            </div>-->

<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </section>-->
<!--    &lt;!&ndash; Optional JavaScript &ndash;&gt;-->
<!--    &lt;!&ndash; jQuery first, then Popper.js, then Bootstrap JS &ndash;&gt;-->
<!--    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>-->
<!--  </body>-->
<!--</html>-->
