{% extends "administrator/initial.html" %}
{% load widget_tweaks %}
{% load static %}
{% block body %}
    <div class="card card-pages shadow-none">

                    <div class="card-body">
                          {% include "elements/message-block.html" %}
                          <div class="text-center m-t-0 m-b-15">
                                  <a href="{% url 'auth-login' %}" class="logo logo-admin"><img src="{% static 'assets/images/logo-main-filled.png' %}" alt="" height="40"></a>
                          </div>
                          {% if validlink %}

                          <form class="form-horizontal m-t-30" method="post">

                            {% csrf_token %}

                            {% for hidden_field in form.hidden_fields %}
                                {{ hidden_field }}
                            {% endfor %}
                            {% for field in form.visible_fields %}
                                <div class="form-group row  {% if form.is_bound %} {% if field.errors %}has-danger{% else %}has-success{% endif %}{% endif %}">

                                <div class="col-12">
                                    <label>{{ field.label_tag }}</label>
                                    {% render_field field class="form-control" %}
                                    {% if field.help_text %}
                                        <small class="form-text text-muted">{{ field.help_text|safe }}</small>
                                    {% endif %}
                                    {% for error in field.errors %}
                                    <div class="form-control-feedback">
                                        {{ error }}
                                    </div>
                                    {% endfor %}
                                </div>

                                </div>
                            {% endfor %}
                              <div class="form-group text-center m-t-20">
                                  <div class="col-12">
                                      <button class="btn btn-primary btn-block btn-lg waves-effect waves-light" type="submit">Set password</button>
                                  </div>
                              </div>
                          </form>
                      {% else %}
                         <h6 class="font-18 text-center text-danger">This link is expired.</h6>
                      {% endif %}
                    </div>

                </div>
{% endblock %}
