{% load static %}
{% load mytags %}
{% load themetags %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pure Devotion</title>
    <link rel="icon" type="image/x-icon" href="{% static 'frontend/assets/images/favicon.png' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    
    <link rel="stylesheet" type="text/css" href="{% static 'frontend/assets/css/style.css' %}">
	<!-- Google Tag Manager -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-WJPZWJQ');</script>
	<!-- End Google Tag Manager -->
	<!-- Meta Pixel Code -->
	<script>
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
        n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}(window, document,'script',
        'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '1066869621064572'); // Replace with your Pixel ID
        fbq('track', 'Purchase'); // Example: Track a Purchase event
    </script>
	<noscript><img height="1" width="1" style="display:none"
	src="https://www.facebook.com/tr?id=1066869621064572&ev=PageView&noscript=1"
	/></noscript>
	<!-- End Meta Pixel Code -->
</head>
<body>
	<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WJPZWJQ"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<header class="sticky-header animate">
  <nav class="navbar navbar-expand-lg navbar-light ">
    <div class="container d-block">
      <div class="row align-items-center">
        <div class="col-lg-2 col-md-3 col-6">
          <a data-bs-toggle="modal" data-bs-target="#helpMatajiModal" class="navbar-brand" >
            <img src="{% static 'frontend/assets/images/pure-devotion-logo.png' %}" width="220" class="img-fluid"
                 alt="">
          </a>
        </div>
        <div class="col-lg-6 col-md-6 text-lg-center text-end col-6">
          <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}" data-menu="Home">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'campaign' %}" data-menu="Campaign">Campaign</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'distribution' %}" data-menu="Distribution">Distribution</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'our-mothers' %}" data-menu="Our Mothers">Our Mothers</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'about-us' %}" data-menu="About Us">About Us</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4 col-md-3 text-md-end text-center pt-3 pt-md-0">
          <a data-title="Adopt a Mataji" data-bs-toggle="modal" data-bs-target="#helpMatajiModal"
             class="btn bg-1 text-white help_mataji"><img
		          src="{% static 'frontend/assets/images/foot.png' %}" width="20"
                                                       alt="">&nbsp;&nbsp; Donate Now</a>
	        {% if request.user.is_authenticated %}
	        <div class="d-inline-block">
            <div class="dropdown-center ">
              <button class="btn bg-outline dropdown-toggle color-2" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Account
              </button>
              <ul class="dropdown-menu dropdown-menu-start">
                <li><a class="dropdown-item" href="{% url 'profile' %}"><img
		                src="{% static 'frontend/assets/images/person.png' %}" class="img-fluid pe-2"> Profile</a></li>
                <li><a class="dropdown-item" href="{% url 'my-donation' %}"><img
		                src="{% static 'frontend/assets/images/donation.png' %}" class="img-fluid pe-2"> My
                    Donations</a></li>
              </ul>
            </div>
          </div>
	        {% else %}
	        <a href="{% url 'user-login' %}" class="btn bg-1 text-white help_mataji">Login</a>
            {% endif %}
        </div>
      </div>

     
    </div>
  </nav>
</header>