{% extends "administrator/base.html" %}
{% load widget_tweaks %}

{% block body %}
<div class="content">
                    <div class="container-fluid">
                        <div class="page-title-box">
                            <div class="row align-items-center">


                            </div> <!-- end row -->
                        </div>
                        <!-- end page-title -->

                        <div class="row">
                            <div class="col-12">
                                <div class="card m-b-30">
                                    <div class="card-body">
                                    <form enctype="multipart/form-data" class="form-horizontal m-t-30" method="POST">
                                        {{ form.media }}
<!--                                        <div class="form-group row  {% if form.is_bound %} {% if field.errors %}has-danger{% else %}has-success{% endif %}{% endif %}">-->
<!--                                            <label for="{{ field.name }}" class="col-sm-2 col-form-label">Order items</label>-->
<!--                                                  {{ order_item_form.management_form }}-->
<!--                                                  {{ order_item_form.non_form_errors }}-->
<!--                                                  <div id="empty_form" style="display:none">-->
<!--                                                    <table class='no_error'>-->
<!--                                                        {{ order_item_form.empty_form }}-->
<!--                                                    </table>-->
<!--                                                  </div>-->
<!--                                                  <div class="col-sm-10">-->
<!--                                                    <div class="card">-->
<!--                                                          <div class="card-header">-->
<!--                                                        Order item-->
<!--                                                          </div>-->
<!--                                                          <div class="card-body">-->
<!--                                                            <div class="row">-->
<!--                                                              {% for form in order_item_form %}-->
<!--                                                                <div class="col-sm-12 inline {{order_item_form.prefix}}">-->
<!--                                                                  {% include "elements/form_formset.html" with form=form product=product %}-->
<!--                                                                </div>-->
<!--                                                              {% endfor %}-->
<!--                                                            </div>-->
<!--                                                          </div>-->
<!--                                                    </div>-->
<!--                                                   </div>-->
<!--                                        </div>-->
                                        {% include "elements/form.html" with form=form %}
	                                    {{ distribution_image_form.management_form }}
	                                    {% for form in distribution_image_form %}
					                        <div style="    padding-left: 0px;" class="col-sm-12 inline {{ distribution_image_form.prefix }}">
					                          {% include "elements/form_formset.html" with form=form %}
					                        </div>
					                      {% endfor %}
										<div class="row float-right mt-5">
                                            <button type="submit" class="btn btn-primary">Submit</button>
										</div>
                                    </form>
                                    </div>
                                </div>
                            </div> <!-- end col -->
                        </div> <!-- end row -->


                    </div>
                    <!-- container-fluid -->

                </div>
{% endblock %}
{% block script %}
<script>
    $(function() {
        $('.inline.{{ distribution_image_form.prefix }}').formset({
            prefix: '{{ distribution_image_form.prefix }}',
            addCssClass: "btn btn-primary btn-sm", // CSS class applied to the add link
                    deleteCssClass: "clear float-right", // CSS class applied to the delete link
                    addText: 'Add more', // Text for the add link
                    deleteText: '<i class="text-danger mdi mdi-delete-forever"></i>', // Text for the delete link
                    formCssClass: 'inline-form', // CSS class applied to each form in a formset
        });
    })
<!--    $(document).on("change",".all_product",function() {-->
<!--         var product_val = [];-->
<!--         var temp = ""-->
<!--        $(".all_product").each(function(){-->
<!--            console.log($(this).attr('data-id'))-->
<!--            var tt = $(this).attr('data-id')-->
<!--            temp = tt.match(/\d+/)-->
<!--            console.log(temp[0])-->
<!--            var product_id = $("#id_order_order_item-"+temp[0]+"-product").val()-->
<!--            var quantity =  $("#id_order_order_item-"+temp[0]+"-quantity").val()-->
<!--            var arr = []-->
<!--            arr['product_id'] = product_id-->
<!--            arr['quantity'] = quantity-->

<!--            product_val.push(arr);-->
<!--        })-->
<!--        console.log(product_val)-->
<!--    })-->
</script>
{% endblock %}