{% extends "main.html" %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}
{% load access_helper %}
{% block body %}

<div class="content">
<!-- Main content -->
<section class="content">
   <div class="container-fluid">
      <div class="row">
         <div class="col-md-12" style="margin: 0 auto">
            {% for error in form.non_field_errors %}
                      <div class="alert alert-danger">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <i class="material-icons">close</i>
                          </button>
                        <span class='upper'>{{ error }}</span>
                        </div>
             {% endfor %}
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }} ">
               <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <i class="far fa-times-circle"></i>
               </button>
               <span class='upper'>{{ message }}</span>
            </div>
            {% endfor %}
            {% endif %}
         </div>
      </div>

      <div class="row">
         <div class="col-md-8" style="margin: 0 auto">
            <div class="card">
                <div class="card-header card-header-primary card-header-icon">
                        <div class="card-icon">
                          <i class="material-icons">create</i>
                        </div>
                        <h4 class="card-title">
                        Add Role </h4>

                </div>
               <div class="card-body">
                  <form method="post" enctype="multipart/form-data" >
                     {% csrf_token %}
                    <div class="card-body p-2">
                       <div class="row">
                           <div class="col-md-12">
                          {% for field in form.visible_fields %}
                                 {% if field == form.permissions %}
                                     <div class="pt-3  {% if field.errors %} has-danger {% endif %}">
                                     <div class="row">
                                     {% for value, text in field.field.choices %}
                                    <div class="col-md-5">
                                        <div class="radio-switches-box">
                                            <div class="radio-box-1">
                                                <h6>{{text}}</h6>
                                                <p>{{ value|get_description }}</p>
                                            </div>
                                            <div class="radio-box-2">
                                                <label class="switch">
                                                    <input type="checkbox" name="{{ field.name }}" class="form-control {{ value }} access_toggle" type="checkbox" value="{{ value }}"{% if value in checked_permissions %} checked="checked"{% endif %}>
                                                    <span class="slider round"></span>
                                                    </label>
                                            </div>

                                     </div>
                                    </div>

                                      {% endfor %}
                                     </div>
                                     </div>
                                  {% else %}
                                  <div class="col-md-12">
                                  <div class="form-group {% if field.errors %} has-danger {% endif %}">
                                  <label for="{{ field.id_for_label }}" class="">{{ field.label }}</label>
                                  {{ field|add_class:'form-control' }}
                                     {% if field.errors %}
                                    <label id="{{ field.id_for_label }}-error" class="error" for="{{ field.id_for_label }} " style="color:red;">{{ field.errors.0 }}</label>
                                    {% endif %}
                                 </div>
                                  </div>
                                {% endif %}
                             {% if field.help_text %}
                             <p>{{ field.help_text }}</p>
                             {% endif %}

                          {% endfor %}
                                </div>
                       </div>
                    </div>
                  <div class="card-footer d-flex justify-content-end m-0">
                         <button class="btn btn-default mr-auto btn-reset-auto" id="" type="reset">Reset</button>
                         <button type="submit" class="btn btn-fill btn-success m-1">Submit</button>


                                <a href="/users/" class="m-1 btn btn-danger">Cancel</a>



                        </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
</section>
<!-- /.content -->
</div>
{% endblock %}


{% block static %}
<script>
    $( ".access_toggle" ).change(function() {
          if($(this).is(":checked"))
          {
            if($('.user_password').is(":checked") || $('.role').is(":checked") || $('.company').is(":checked") || $('.truck').is(":checked") || $('.trailer').is(":checked") || $('.career_authority').is(":checked") || $('.owner_operator').is(":checked") || $('.driver').is(":checked") || $('.broker').is(":checked") || $('.place').is(":checked") || $('.eld').is(":checked") || $('.billing').is(":checked") ){
                $(".setting").prop("checked", true);
            }
          }
    });

</script>
{% endblock %}