{% load static %}
<!-- Array Footer Section -->
<div class="footer-sm">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <a class="footer-logo" href="#"><img class="alternate-landing-logo-footer" src="{% static 'assets/images/logo-main-filled.png' %}"></a>
      </div>
      <div class="col-md-4">
        <h6>&copy; Alternates 2020 Rights Reserved</h6>
      </div>
      <div class="col-md-4">
        <ul>
          <li><a href="{% url 'pages' 'privacy-policy' %}">Privacy Policy</a></li>
          <li><a href="{% url 'pages' 'disclaimer' %}">Disclaimer</a></li>
          <li><a href="#">Facebook</a></li>
          <li><a href="#">Linkedin</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- Scroll To Top -->
<div id="back-top" class="bk-top">
  <div class="alternates-btn-round-custom bk-top-txt ">
     <a class="back-to-top js-scroll-trigger" href="#main">top</a>
  </div>
</div>
<!-- Scroll To Top Ends-->
