{% extends "administrator/base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block body %}
<div class="content">
                    <div class="container-fluid">
                        <div class="page-title-box">
                            <div class="row align-items-center">
                                <div class="col-sm-6">
                                    <h4 class="page-title">User List</h4>
                                </div>
                                <div class="col-sm-6">
                                    <ol class="breadcrumb float-right">
                                    
                                    </ol>
                                </div>
                              <div class="btn-group col-sm-6">
	                              <div class="form-group">
                                    <select placeholder="City" name="city" type="text" class="city form-control" >
			                            <option value="">Select City</option>
	                                    {% for single in cities %}
			                            <option value="{{single}}">{{single}}</option>
			                            {% endfor %}
		                            </select>
                                    </div>
                                 
                              </div><!-- /btn-group -->
                            </div> <!-- end row -->
                        </div>
                        <!-- end page-title -->

                        <div class="row">
                            <div class="col-12">
                                <div class="card m-b-30">
                                    <div class="card-body">
                                        <table id="user_datatable" class="table table-hover dt-responsive nowrap"
                                               style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                            <thead>
                                            <tr>
                                                <th>First Name</th>
                                                <th>Last Name</th>
                                                <th>Phone</th>
                                                <th>Email</th>
                                                <th>City</th>
                                                <th>Status</th>
                                                <th class="no-sort"></th>
                                            </tr>
                                            </thead>


                                            <tbody>

                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div> <!-- end col -->
                        </div> <!-- end row -->
                    </div>
                    <div  class="modal fade">
                          <form id="model-form-delete" action="" method="post" >
                          {% csrf_token %}
                            <button type="submit" class="btn btn-danger"></button>
                          </form>
                    </div>
                    <!-- container-fluid -->
                    <input type="hidden" name="list_page_url" id="list_page_url" value="{% url 'user-list-ajax' %}">

                </div>
{% endblock %}
{% block script %}
<script>
var ajaxUrl = $('#list_page_url').val();
  console.log(ajaxUrl);
    var oTable = $('#user_datatable').DataTable({
          "pageLength":50,
          "serverSide": true,

          "ordering": false,
              columnDefs: [{
              "width": "20%",
              orderable: false,
              targets: "no-sort"
              }],
          "language": {
          "emptyTable": "No data available"
           },
          "ajax": { "url": ajaxUrl ,"data": function(data){
          var city =  $('.city').val();
          data.city = city;}
          },
          "scrollX": true,
          'select': {
               'style': 'multi'
            },
          "initComplete": function(settings, json){
                $('#id_count').html(settings.json.recordsTotal);
           },
           "columnDefs": [{
                "targets": [-1],
                "orderable": false,
                "className": 'text-right'
            },{
                  'targets': 0,
                  'checkboxes': {
                     'selectRow': true
                  }
               }],
    });

$(document).on('change', '.city', function() {
    oTable.draw();
  });
</script>
{% endblock %}
