{% load static %}
<!-- jQuery  -->
<script src="{% static 'admin-assets/js/jquery.min.js' %}"></script>
<script src="{% static 'admin-assets/js/moment.min.js' %}"></script>
<script src="{% static 'admin-assets/js/jquery.datetimepicker.full.js' %}"></script>
<script src="{% static 'admin-assets/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'admin-assets/js/metismenu.min.js' %}"></script>
<script src="{% static 'admin-assets/js/jquery.slimscroll.js' %}"></script>
<script src="{% static 'admin-assets/js/waves.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap-touchspin/js/jquery.bootstrap-touchspin.min.js' %}"></script>
<!--Morris Chart-->

<script src="{% static 'plugins/alertify/js/alertify.js' %}"></script>
<script src="{% static 'admin-assets/pages/alertify-init.js' %}"></script>

<script src="{% static 'plugins/sweet-alert2/sweetalert2.min.js' %}"></script>

<!-- App js -->
<script src="{% static 'admin-assets/js/app.js' %}"></script>

<script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'plugins/datatables/dataTables.bootstrap4.min.js' %}"></script>

<script src="{% static 'plugins/datatables/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'plugins/datatables/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables/jszip.min.js' %}"></script>
<script src="{% static 'plugins/datatables/pdfmake.min.js' %}"></script>
<script src="{% static 'plugins/datatables/vfs_fonts.js' %}"></script>
<script src="{% static 'plugins/datatables/buttons.html5.min.js' %}"></script>
<script src="{% static 'plugins/datatables/buttons.print.min.js' %}"></script>
<script src="{% static 'plugins/datatables/buttons.colVis.min.js' %}"></script>

<!--<script src="{% static 'plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js' %}"></script>-->
<script src="{% static 'plugins/formset/dynamic-formset.js' %}"></script>
<script src="{% static 'plugins/tinymce/tinymce.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>

<script>
$(document).on('click','.download-pdf', function(){

        var url = $(this).attr('data-url'); // URL to fetch HTML content
          
            // Fetch HTML content from URL
            $.get(url, function(data) {
                // Create jsPDF instance
                var doc = new jsPDF();

                // Add HTML content to PDF
                doc.html(data, {
                    callback: function(pdf) {
                        // Save PDF as a file
                        pdf.save('downloaded-pdf.pdf');
                    }
                });
            });
});

function getAllInputValuesInForm(formId) {
    var form = document.getElementById(formId);
    var inputs = form ? form.elements : null; // Check if form exists
    var inputValues = {};

    if (inputs) {
        for (var i = 0; i < inputs.length; i++) {
            var input = inputs[i];
            var name = input.name;

            if (!inputValues[name]) {
                inputValues[name] = [];
            }

            var type = input.type;
            if (type === 'checkbox' || type === 'radio') {
                if (input.checked) {
                    inputValues[name].push(input.value);
                }
            } else {
                inputValues[name].push(input.value);
            }
        }
    }

    return inputValues;
}

  $(document).on('click','.remove_record', function(){
     //$('.removeRecord').click(function(){
         var text = 'Do you really want to delete this record';
         Swal.fire({
           title: text,
           text: 'This process cannot be undone.',
           type: 'warning',
           showCancelButton: true,
           confirmButtonColor: '#d33',
           cancelButtonColor: '#999999',
           confirmButtonText: 'Delete!',
           cancelButtonText: 'Cancel'
         }).then((result) => {
           if (result.value) {
             var url = $(this).data("url")
             $.ajax({        // initialize an AJAX request
                        url: url,
                        data: $('#model-form-delete').serialize(),
                        method: 'POST',
                        success: function (data) {
                          oTable.ajax.reload( function(settings, json){
                                        $('#id_count').html(settings.recordsTotal);
                                    }, false );
                          Swal.fire(
                               'Deleted',
                               '',
                               'success'
                             )
                        }
              });


           } else if (result.dismiss === Swal.DismissReason.cancel) {
             Swal.fire(
               'Cancelled',
               '',
               'error'
             )
           }
         })
     });

var ajaxUrl = $('#list_page_url').val();
var oTable = $('#datatable').DataTable({
					"pageLength": 10,
					"serverSide": true,
					"ordering": false, // Disable ordering
					dom: 'Blfrtip',
					        buttons: [
					            'csv', 'print', 'pdf'
					        ],
					"columnDefs": [{
					    "width": "20%",
					    "orderable": false,
					    "targets": "no-sort"
					}],
					"language": {
					    "emptyTable": "No data available"
					},
					"order": [[0, "desc"]],
					"ajax": { "url": ajaxUrl ,"data": getAllInputValuesInForm('search_form')
					},
					"scrollX": true,
					"initComplete": function(settings, json) {
					    $('#id_count').html(settings.json.recordsTotal);
					},
					
					"columnDefs": [{
					    "targets": [-1],
					    "orderable": false,
					    "className": 'text-right'
					}],
});
$('.start_date').datetimepicker({
    timepicker:false,
    format:'d-m-Y',
        }).on('change', function() {
            $('.xdsoft_datetimepicker').hide();
            var str = $(this).val();
            str = str.split(".");
            $('#alt_date_field').val(str[2]+'-'+str[1]+'-'+str[0]);
});
$('.end_date').datetimepicker({
    timepicker:false,
            format:'d-m-Y',
    }).on('change', function() {
        $('.xdsoft_datetimepicker').hide();
        var str = $(this).val();
        str = str.split(".");
        $('#alt_date_field').val(str[2]+'-'+str[1]+'-'+str[0]);
});

$(document).on('click', '#apply', function() {
	var dynamicData = getAllInputValuesInForm('search_form')

    // Update DataTable's AJAX configuration with dynamic data
    oTable.settings()[0].ajax.data = dynamicData;
	oTable.page.len(1000).draw();
    oTable.ajax.reload(null, false); // Ensure to keep current page

    // Reload DataTable
    
  

});

</script>
