{% load themetags %}
{% load static %}

<div class="left side-menu">
            <div class="slimscroll-menu" id="remove-scroll">

                <!--- Sidemenu -->
                <div id="sidebar-menu">
                    <!-- Left Menu Start -->
                    <ul class="metismenu" id="side-menu">
                        <li>
                            <a href="{% url 'admin-dashboard' %}"  class="waves-effect {% active 'admin-dashboard' %}">
                                <i class="icon-accelerator"></i><span> Dashboard </span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="waves-effect"><i class="fa fa-user"></i><span> Users <span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span> </span></a>
                            <ul class="submenu">
                              {% if request.user.is_staff and  request.user.is_superuser %}
                              <li>
                                  <a href="{% url 'user-list' %}" class="waves-effect {% active 'user-list' %}"><i class="fa fa-user"></i><span> Users </span></a>
                              </li>
                              {% endif %}
                        </ul>
                        </li>
                        <li>
                            <a href="{% url 'promoter-list' %}" class="waves-effect {% active 'promoter-list' %}"><i
		                            class="fa fa-file"></i><span> Promoter's </span></a>
                        </li>
	                    <li>
                            <a href="{% url '80g-request-list' %}" class="waves-effect {% active '80g-request-list' %}"><i
		                            class="fa fa-file"></i><span> 80g List </span></a>
                        </li>
	                     <li>
                            <a href="{% url 'abandon-list' %}" class="waves-effect {% active 'abandon-list' %}"><i
		                            class="fa fa-file"></i><span> Pending User </span></a>
                        </li>
	                    <li>
                            <a href="{% url 'donation_list' %}" class="waves-effect {% active 'donation_list' %}"><i
		                            class="fa fa-file"></i><span> Donation </span></a>
                        </li>
	                    <li>
                            <a href="{% url 'campaign-list' %}" class="waves-effect {% active 'campaign-list' %}"><i
		                            class="fa fa-file"></i><span> Campaign </span></a>
                        </li>
                        <li>
                            <a href="{% url 'campaign-product-list' %}" class="waves-effect {% active 'campaign-product-list' %}"><i
		                            class="fa fa-file"></i><span>Campaign Item</span></a>
                        </li>
	                    <li>
                            <a href="{% url 'distribution-list' %}" class="waves-effect {% active 'distribution-list' %}"><i
		                            class="fa fa-file"></i><span> Distribution </span></a>
                        </li>
                        <li>
                            <a href="{% url 'product-list' %}" class="waves-effect {% active 'product-list' %}"><i
		                            class="fa fa-file"></i><span> Product </span></a>
                        </li>

                        <li>
                            <a href="{% url 'subscriber-list' %}" class="waves-effect {% active 'subscriber-list' %}"><i
		                            class="fa fa-file"></i><span> Subscriber </span></a>
                        </li>
                         <li>
                            <a href="{% url 'razorpay-plan-list' %}" class="waves-effect {% active 'razorpay-plan-list' %}"><i
		                            class="fa fa-file"></i><span> RazorPay Plans </span></a>
                        </li>
	                    
	                    <li>
                            <a href="{% url 'mother-list' %}" class="waves-effect {% active 'mother-list' %}"><i
		                            class="fa fa-file"></i><span> Our Mata ji </span></a>
                        </li>

                        <li>
                            <a href="javascript:void(0);" class="waves-effect">
                                <i class="fa fa-file"></i>
                                <span> Setting </span>
                            </a>
                            <!-- Submenu starts here -->
                            <ul class="submenu">
                                <li><a href="{% url 'setting' %}" class="{% url 'setting' %}"><i
                                            class="fa fa-file"></i><span>General setting</span></a></li>

                                <li>
                                    <a href="{% url 'ourteam-list' %}" class="waves-effect {% active 'ourteam-list' %}"><i
                                            class="fa fa-file"></i><span> Our Team </span></a>
                                </li>
                                <li>
                                    <a href="{% url 'testimonial-list' %}" class="waves-effect {% active 'testimonial-list' %}"><i
                                            class="fa fa-file"></i><span> Testimonial </span></a>
                                </li>
                                <li>
                                    <a href="{% url 'update-about-us' %}" class="waves-effect {% active 'update-about-us' %}"><i
                                            class="fa fa-file"></i><span> AboutUs </span></a>
                                </li>
                                <li><a href="{% url 'slider-list' %}" class="waves-effect {% url 'slider-list' %}"><i
                                            class="fa fa-file"></i><span>Slider</span></a></li>
                            </ul>
                        </li>
	                    
	                    
	                    
	                    
	                    
                    </ul>

                </div>
                <!-- Sidebar -->
                <div class="clearfix"></div>

            </div>
            <!-- Sidebar -left -->

        </div>
