{% load static %}
{% load themetags %}
<div class="topbar">

            <!-- LOGO -->
            <div class="topbar-left">
                <a href="#" class="logo">
                    <span class="logo-light">
                        Dashboard
<!--                            <img class="alternate-landing-logo" src="{% static 'assets/images/logo-main-blank.png' %}">-->
                        </span>
                    <span class="logo-sm" style="background:white;">
<!--                            <img src="{% static 'assets/images/logo-main-blank.png' %}" style="height: 28px;">-->
                        </span>
                </a>
            </div>

            <nav class="navbar-custom">
                <ul class="navbar-right list-inline float-right mb-0">

                    <!-- language-->


                    <!-- full screen -->
                    <li class="dropdown notification-list list-inline-item d-none d-md-inline-block">
                        <a class="nav-link waves-effect" href="#" id="btn-fullscreen">
                            <i class="mdi mdi-arrow-expand-all noti-icon"></i>
                        </a>
                    </li>

                    <!-- notification -->
                    <li class="dropdown notification-list list-inline-item">
                        <a class="nav-link dropdown-toggle arrow-none waves-effect" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                            <i class="mdi mdi-bell-outline noti-icon"></i>
                            <span class="badge badge-pill badge-danger noti-icon-badge"></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-animated dropdown-menu-lg px-1">
                            <!-- item-->
                            <h6 class="dropdown-item-text">
                                    Notifications
                                </h6>
                            <div class="slimscroll notification-item-list">
                                <!-- item-->

                            </div>
                            <!-- All-->
                            <a href="#" class="dropdown-item text-center notify-all text-primary">
                                    View all <i class="fi-arrow-right"></i>
                                </a>
                        </div>
                    </li>

                    <li class="dropdown notification-list list-inline-item">
                        <div class="dropdown notification-list nav-pro-img">
                            <a class="dropdown-toggle nav-link arrow-none nav-user" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                <img src="{% static 'admin-assets/images/users/user-4.jpg' %}" alt="user" class="rounded-circle">
                            </a>
                            <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
                                <!-- item-->
<!--                                <a class="dropdown-item" href="#"><i class="mdi mdi-account-circle"></i>Edit Profile</a>-->
	                            {% if request.user %}
                                <a class="dropdown-item d-block" href="{% url 'auth-change-self-password' request.user.id  %}"><i class="mdi mdi-settings"></i> Change password</a>
                                {% endif %}
	                            <div class="dropdown-divider"></div>
                                <a class="dropdown-item text-danger" href="{% url 'auth-logout' %}"><i class="mdi mdi-power text-danger"></i> Logout</a>
                            </div>
                        </div>
                    </li>

                </ul>

                <ul class="list-inline menu-left mb-0">
                    <li class="float-left">
                        <button class="button-menu-mobile open-left waves-effect">
                            <i class="mdi mdi-menu"></i>
                        </button>
                    </li>
<!--                    <li class="d-none d-md-inline-block">-->
<!--                        <form role="search" class="app-search">-->
<!--                            <div class="form-group mb-0">-->
<!--                                <input type="text" class="form-control" placeholder="Search..">-->
<!--                                <button type="submit"><i class="fa fa-search"></i></button>-->
<!--                            </div>-->
<!--                        </form>-->
<!--                    </li>-->
                </ul>

            </nav>

        </div>
