{% extends "frontend/base.html" %}
{% load widget_tweaks %}
{% load static %}
{% load mytags %}
{% block body %}
<section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="about-title position-relative">
                        <img src="assets/images/about-us/foot.png" alt="">
                        <h2>10000+</h2>
                        <h3>Widows Impacted</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block script%}

{% endblock %}
