{% extends "frontend/base.html" %}
{% load widget_tweaks %}
{% load static %}
{% load mytags %}
{% block body %}
{% get_home_setting_data as home_page_setting_data %}

 <!-- Section Banner -->
      <section class="about_banner mx-2 px-lg-5 position-relative">
        <div class="container-fluid">
            <div class="banner_contentWr d-flex align-items-center gap-3">
                <div class="banner_icon">
                    <img src="{% static 'frontend/assets/images/skbt-logo.png' %}" alt="skbt">
                </div>
                <div class="banner_title text-white ">
                    <h1 class="fw-bold display-4">We are <span class="text-white fw-medium f-16">World’s largest Cow Rehabilitation Centre </span><br> Sri Krishna Balram seva trust</h1>
                    <h3 class="banner_subTitle color-1 ff-epilogue fw-bold mt-4">Hingonia</h3>
                </div>
            </div>
        </div>
        <div class="vector_wr position-absolute">
            <img class="img-fluid" src="{% static 'frontend/assets/images/about/banner-vector.png' %}" alt="banner-vector">
        </div>
      </section>
      <section class="about_section pt-80">
        <div class="container-fluid">
            <div class="row align-items-center justify-content-center">
      <div class="col-lg-8 col-md-10">
       <iframe class="about-video" src="https://www.youtube.com/embed/W8cPIcRkgqo?si=v1fmvFb-NGtjYiEZ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen=""></iframe>
     </div>
     <div class="col-md-12 pt-3 pb-5 section-banner">

         <div class="row mt-2 g-4 justify-content-center">
                <div class="col-lg-3 col-md-6">
                  <div class="card-box">
                    <div class="row align-items-center">
                      <div class="col-5">
                        <img src="{{home_page_setting_data.first_icon|handle_image_url}}" class="img-fluid" alt="">
                      </div>
                      <div class="col-7 ps-0 text-end">
                        <h3 class="fw-bold color-10 mb-0">
                          {{home_page_setting_data.first_number|handle_none}}
                        </h3>
                        <p class="mb-0 fw-semibold color-10">
                          {{home_page_setting_data.first_title|handle_none}}
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6">
                  <div class="card-box">
                    <div class="row align-items-center">
                      <div class="col-5">
                        <img src="{{home_page_setting_data.second_icon|handle_image_url}}" class="img-fluid" alt="">
                      </div>
                      <div class="col-7 ps-0 text-end">
                        <h3 class="fw-bold color-10 mb-0">
                          {{home_page_setting_data.second_number|handle_none}}
                        </h3>
                        <p class="mb-0 fw-semibold color-10">
                          {{home_page_setting_data.second_title|handle_none}}
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6">
                  <div class="card-box">
                    <div class="row align-items-center">
                      <div class="col-5">
                        <img src="{{home_page_setting_data.third_icon|handle_image_url}}" class="img-fluid" alt="">
                      </div>
                      <div class="col-7 ps-0 text-end">
                        <h3 class="fw-bold color-10 mb-0">
                          {{home_page_setting_data.third_number|handle_none}}
                        </h3>
                        <p class="mb-0 fw-semibold color-10 pop_up_title">
                          {{home_page_setting_data.third_title|handle_none}}
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6">
                  <div class="card-box">
                    <div class="row align-items-center">
                      <div class="col-5">
                        <img src="{{home_page_setting_data.fourth_icon|handle_image_url}}" class="img-fluid" alt="">
                      </div>
                      <div class="col-7 ps-0 text-end">
                        <h3 class="fw-bold color-10 mb-0">
                          {{home_page_setting_data.fourth_number|handle_none}}

                        </h3>
                        <p class="mb-0 fw-semibold color-10">
                          {{home_page_setting_data.fourth_number|handle_none}}
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6">
                  <div class="card-box">
                    <div class="row align-items-center">
                      <div class="col-5">
                        <img src="{{home_page_setting_data.five_icon|handle_image_url}}" class="img-fluid" alt="">
                      </div>
                      <div class="col-7 ps-0 text-end">
                        <h3 class="fw-bold color-10 mb-0">
                          {{home_page_setting_data.five_number|handle_none}}
                        </h3>
                        <p class="mb-0 fw-semibold color-10">
                            {{home_page_setting_data.five_title|handle_none}}
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6">
                  <div class="card-box">
                    <div class="row align-items-center">
                      <div class="col-5">
                        <img src="{{home_page_setting_data.six_icon|handle_image_url}}" class="img-fluid" alt="">
                      </div>
                      <div class="col-7 ps-0 text-end">
                        <h3 class="fw-bold color-10 mb-0">
                          {{home_page_setting_data.six_number|handle_none}}
                        </h3>
                        <p class="mb-0 fw-semibold color-10">
                          {{home_page_setting_data.six_title|handle_none}}
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

     </div>

   </div>
            <div class="row">
         <div class="col-md-6 p-0">
            <div class="desc_left h-100 ps-lg-5 py-3">
               <p class="fw-bold px-4 text-justify">
                   Hingonia Cow Rehabilitation Centre managed by Sri Krishna Balaram seva Trust, the largest facility dedicated to the welfare of stray and accidental cattles, enhances road safety by preventing accidents caused by stray and injured cows.</p>
               <p class="fw-bold px-4 mb-0 text-justify">In 2016, Sri Krishna Balaram Seva Trust signed an MOU with Nagar Nigam Jaipur to manage the centre. Since then, the number of stray cows under our care has increased from 6,000 to over 16,000+. Every day, a Jaipur Municipal Corporation ambulance brings around 50 to 60 stray, accidental, old, and diseased cows to our Gaushala. Many of these cows ingest non-degradable materials such as polythene, leading to severe internal damage and leaving them in a very painful and precarious condition.</p>


            </div>
         </div>
         <div class="col-md-6 ">
            <div class="desc_right pe-lg-5 py-3">
               <p class="fw-bold px-4 mb-0 text-justify">Our dedicated team of 17 doctors and 32 compounders diligently performs their duties, treating these stray and accidental cows and serving 1000+ stray cows in the ICU. Our motto is to provide protection and shelter to abandoned cows and give them a better life by making our Centre sustainable, renewable, and self-sufficient.</p>
            </div>
            <div class="title">
               <h1 class="display-3 color-1 text-end fw-bold ff-epilogue mb-0">Hingonia</h1>
            </div>
         </div>
         <div class="about_desc px-0"></div>
      </div>

        </div>
      </section>
<section class="ourMission_section px-lg-5 py-5">
   <div class="container-fluid">
      <div class="row align-items-center">
         <div class="col-md-6">
            <h3 class="fw-medium ff-epilogue display-6">Objectives of the Organization  </h3>
            <div class=" fw-bold fs-3 pt-4">Our Vision</div>
            <div class=" fw-bold ms-auto">To rehabilitate stray and accidentals cows, improve their health, and implement sustainable practices to ensure a better environment for cattles care.</div>
            <div class=" fw-bold fs-3 pt-4">Our Mission</div>
            <div class=" fw-bold">We aim to nurture and provide loving care for 30,000+ stray and accidental cows by 2030. With compassion as our cornerstone, we envision a future where every cows is safe, healthy, and valued.</div>
            <div class=" fw-bold fs-3 pt-4">Goals</div>
            <div class=" fw-bold">Our motto is to provide protection and shelter to abandoned cows and give them a better life by making our Centre sustainable, renewable, and self-sufficient.</div>
         </div>
         <div class="col-md-6">
            <div class="swiper gallerySwiper swiper-cards swiper-3d swiper-initialized swiper-horizontal swiper-watch-progress">
            <div class="swiper-wrapper" id="swiper-wrapper-431f4510321ff10e3d" aria-live="off" style="cursor: grab; transition-duration: 0ms; transition-delay: 0ms;">
              {% for single in gallery_obj %}
                                <div class="swiper-slide">
                                  <a href="{% url 'gallery' %}"> <img class="img-fluid gallery-1" src="{{single.main_image.url}}" alt="gallery"></a>
                                </div>
                                {% endfor %}
            </div>
          <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
          <div style="opacity:.5" class="pt-1 text-center fw-bold">
            Click to see more
          </div>
         </div>
      </div>
   </div>
</section>
        <section class="our_partner position-relative">
                <img src="{% static 'frontend/assets/images/home/vector-1.png' %}" class="element-1">
                <img src="{% static 'frontend/assets/images/home/vector-2.png' %}" class="element-2">
                <img src="{% static 'frontend/assets/images/home/vector-3.png' %}" class="element-3">
            <div class="ourPartner_section position-relative py-3">
                <div class="container-fluid">
                    <div class="ourMission_title">
                    <div class="row">
                    <h2 class="text-center display-4 py-5 fw-bold" style=" opacity: .8;">World’s largest Cow Rehabilitation Centre </h2>
                    </div>
                    </div>
                </div>
                <img class="vector_left position-absolute img-fluid" src="{% static 'frontend/assets/images/about/vector-right.png' %}" alt="vector">
                <img class="vector_right position-absolute img-fluid" src="{% static 'frontend/assets/images/about/vector-left.png' %}" alt="vector">
                <div><img class="vector_cow position-absolute img-fluid" src="{% static 'frontend/assets/images/about/cow-1.png' %}" alt="vector"></div>
            </div>
            <div class="partner_pg text-white text-center position-relative">
                <p class="text-center fw-medium text-white f-14">Sri Krishna Balaram Seva Trust</p>
                <h3 class="display-5 text-center fw-bold">Our Partners</h3>
                <div class="payment_options flexBoxCenter">
                    {% get_slider as all_slider %}
                    {% for single in all_slider %}
                    {% if single.type == 'Our partners' %}
                    {% get_gallery single.id 'slider' as all_gallery_image %}
                    {% for single_image in all_gallery_image %}
                    <img class="img-fluid" src="{{single_image.file.url}}" alt="sbi">
                    {% endfor %}
                    {% endif %}
                    {% endfor %}
                </div>
                <div class="become_csrPartner">
                    <a href="#footer" class="btn csrPartnerBtn bg-1 py-2 px-3 rounded-5 fw-bold">

                    Contact Us
                      <img class="ms-1" style="width:12px" src="{% static 'frontend/assets/images/home/arrow-black-45.png' %}"
                      alt="Become CSR partner">
                    </a>
                      <a class="ps-2 pe-1 fw-medium ff-epilogue text-white" href="#footer">Know More</a>
                  </div>
            </div>
             </section>

{% endblock %}
{% block script%}

{% endblock %}
