{% extends "frontend/base.html" %}
{% load widget_tweaks %}
{% load static %}
{% load mytags %}
{% block body %}
<section class="AandW_page position-relative">
        <div class="container-fluid">
            <div class="row mx-2 pt-4 px-lg-5">
                <div class="col-xxl-6 col-md-7 offset-xxl-3 offset-lg-0">
                    <div class="d-flex justify-content-center toppart">
                      <div>
                          <div class="display-lg-4 display-6 fw-bold color-10 ff-Rubik awTopTitle">{{waiting_cow_len}} Cows</div>
                          <span class="color-10 f-32 ff-Rubik">Waiting</span>
                      </div>
                      <div class="line titleMiddleLine" style="width: 2px;background:#04402E;margin-left:30px;margin-right:30px"></div>
                      <div>
                          <div class="display-lg-4 display-6 fw-bold color-10 ff-Rubik awTopTitle">{{adopted_cow_len}} Cows</div>
                          <span class="color-10 f-32 ff-Rubik">Adopted</span>
                      </div>
                    </div>
                </div>
                <div class="col-xxl-3 col-md-5">
                  <div class="d-flex align-items-end justify-content-center justify-content-md-end gap-2 flex-md-column mt-md-0 mt-4 flex-wrap">
                    <a href="{% url 'waiting-cow' %}" class="awcowBtn ff-Rubik">Waiting Cows</a>
                  </div>
                </div>
                <div class="col-12">
                  <p class="adDescTop f-32 text-center color-10 fw-semibold mt-4 ff-Rubik" style="max-width:1100px; margin:0 auto;line-height:40px">
                  Get blessings of mother cow by adopting her and being a source of her monthly care and nourishments. $20 per month.
                  </p>
                </div>
            </div>
            <div class="row pt-4">
              {% for single in subscription_obj %}
              <div class="col-lg-4 col-sm-6 mb-4">
                  <div class="boxCard">
                    <div class="card p-30 p-md-20 bg-5 borderR-40 ">
                      <div class="position-relative">
                      <img src="{{single.campaign.campaign_image.url}}" class="card-img-top" alt="...">
                        <div class="adopter_img position-absolute">
                          <img src="assets/images/adopt-cow/adopter.svg" alt="" style="max-width:100px;width:100%">
                        </div>
                      </div>
                      <div class="card-body pb-0 px-0">
                        <h5 class="card-title f-20 color-10 fw-semibold ff-Rubik mb-0">{{single.campaign.title}} - Adopted by {{single.user.first_name}}</h5>

                          <span class="card-text color-10 ff-Rubik f-12">Id No.: {% if single.campaign.cow_id %}{{single.campaign.cow_id}}{% else %}ID not available{% endif %}</span>

                        <div class="donatAmountM">
                          <span class="fw-semibold color-10 ff-Rubik cardprice_title">Donating {{single.price}}<span class="f-20 color-10 ff-Rubik">/MONTH</span></span>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
              {% endfor %}
            </div>
<!--            <div class="row aw_cow_pagination">-->
<!--              <div class="col-12">-->
<!--                <nav aria-label="Page navigation">-->
<!--                  <ul class="pagination justify-content-center">-->
<!--                    <li class="page-item">-->
<!--                      <a class="page-link border-0" href="#" aria-label="Previous">-->
<!--                        <span aria-hidden="true">	&lt;</span>-->
<!--                      </a>-->
<!--                    </li>-->
<!--                    <li class="page-item border-0 active" aria-current="page">-->
<!--                      <a class="page-link" href="#">1</a>-->
<!--                    </li>-->
<!--                    <li class="page-item"><a class="page-link border-0" href="#">2</a></li>-->
<!--                    <li class="page-item"><a class="page-link border-0" href="#">3</a></li>-->
<!--                    <li class="page-item">-->
<!--                      <a class="page-link border-0" href="#" aria-label="Next">-->
<!--                        <span aria-hidden="true">&gt;</span>-->
<!--                      </a>-->
<!--                    </li>-->
<!--                  </ul>-->
<!--                </nav>-->
<!--              </div>-->
<!--            </div>-->
        </div>
      </section>
{% endblock %}
{% block script%}
<script>


</script>
{% endblock %}
