{% load widget_tweaks %}
{% load static %}
{% load mytags %}
<div class="donateSilde steptabs" id="donateSlide">
                        <div class="stepper">
                          <div class="step w-100" id="step-1">
                            <div class="row pt-5 pb-4">
                              {% if campaign.payment_type == 'One Time' %}
                              {% generate_price campaign.price as all_generated_price %}
                                    <input value="{{campaign.amt_1|indian_number_format}}" type="hidden" class="donate_amt_1">
	                                <div class="row pb-3">
		                                <div class="col-lg-4 col-md-6 col-6">
                                        <div class="cps-amount-radio">
                                            <label for="payOne" class="cps-active">₹ {{campaign.amt_1|indian_number_format}}</label>
                                            <input selected type="radio" value="{{campaign.amt_1}}" name="amount_tt"
                                                   id="payOne"
                                                   class="cps-radio ct_donate_amt_1"
                                                   checked>
                                        </div>
		                                </div>
		                                {% if campaign.amt_2 %}
	                                    <div class="col-lg-4 col-md-6 col-6">
                                        <div class="cps-amount-radio">
                                            <label for="payTwo">₹ {{campaign.amt_2|indian_number_format}}</label>
                                            <input type="radio" value="{{campaign.amt_2}}" name="amount_tt"
                                                   id="payTwo"
                                                   class="cps-radio ct_donate_amt_2">
                                        </div>
	                                    </div>
		                                {% endif %}
		                                {% if campaign.amt_3 %}
	                                    <div class="col-lg-4 col-md-6 col-6">
                                        <div class="cps-amount-radio">
                                            <label for="payThree">₹ {{campaign.amt_3|indian_number_format}}</label>
                                            <input type="radio" value="{{campaign.amt_3}}" name="amount_tt"
                                                   id="payThree"
                                                   class="cps-radio ct_donate_amt_3">
                                        </div>
	                                    </div>
		                                {% endif %}
	                                    <div class="col-md-12 " id="customAmountBox" style="display: none;">
				                            <div class="input-group">
				                                <span class="input-group-text border-danger color-2" id="amount-addon">
				                                    <i class="bi bi-currency-rupee color-2"></i>
				                                </span>
				                                <input type="number" value="0" name="sdfsf"
				                                       class="ctm_amt form-control border-danger f-16 fw-bold" placeholder="----" aria-describedby="amount-addon" required="">
				                            </div>
				                        </div>
                              {% else %}
                              <div class="product_row row">
                              {% for single in campaign_product.product.all %}
                              <div class="col-lg-4 col-md-6">
                                  <div class="card_donate d-flex gap-2 mb-2 align-items-center" id="card_donate_1">
                                    <img class="tooltipIcon" src="/static/frontend/assets/images/tooltip.svg" alt="">
                                    {% if single.image %}
                                    <img src="{{single.image.url}}" class="card-img-top img-fluid" alt="Steel Structure Seva">
                                    {% else %}
                                    <img src="/static/frontend/assets/images/home/steel.png" class="card-img-top img-fluid" alt="Steel Structure Seva">
                                    {% endif %}
                                    <div class="card-body d-flex flex-row gap-2 align-items-center justify-content-between">
                                      <div>
                                        <h5 class="card-title fw-bold">{{single.title}}</h5>
                                      </div>

                                      <div class="d-flex gap-2 justify-content-between flex-wrap">
                                        <span class="card-text priceWr f-18 mb-0">{{single.price}}</span>
                                        <div class="add_button add-to-cart" data-max="1000" data-id="{{single.id}}" data-price="{{single.price}}" data-name="{{single.title}}">
                                          <button class="btn btn-primary f-12 add-button" data-price="{{single.price}}" data-name="{{single.title}}">
                                            <img src="/static/frontend/assets/images/plus-black.svg" class="img-fluid" alt="">
                                          </button>
                                        </div>
                                        <div class="quantity-container" style="display: none;">
                                          <button data-id="{{single.id}}" data-price="{{single.price}}" data-name="{{single.title}}" class="minus-item f-14 decrement-btn minusBtn">-</button>
                                          <input style="width: 19px;padding: 0px;" type='number' data-maxlength='1000' class='item-count form-control text-center quantityInput border ' data-id="{{single.id}}" data-name="{{single.title}}" value="1" >
                                          <button data-id="{{single.id}}" data-price="{{single.price}}" data-name="{{single.title}}" class="plus-item f-14 increment-btn plusBtn">+</button>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="tooltipeContentWr d-flex gap-2 d-none">
                                      {% if single.image %}
                                      <img src="{{single.image.url}}" class="card-img-top img-fluid" alt="Steel Structure Seva">
                                      {% else %}
                                      <img src="/static/frontend/assets/images/home/steel.png" class="card-img-top img-fluid" alt="Steel Structure Seva">
                                      {% endif %}
                                      <p class="f-10 mb-0">
                                        Welcome abandoned cows to a safe haven, with sturdy steel structures offering shelter
                                        and care. Join us in creating their sanctuary.
                                      </p>
                                    </div>
                                  </div>
                              </div>
                              {% endfor %}
                              {% endif %}

                              </div>

                              <div class="d-flex col-12 gap-3 mt-2 mb-3 mt-3 flex-wrap">
                                <div class="custom_amount flexBoxCenter">
                                  <div class="title fw-bold">Custom Amount:</div>
                                  <div class="amount">
                                    <input id="number" class="ctm_amt" type="number">
                                  </div>
                                </div>
                                <div class="currency">
                                  <span class="f-14 fw-semibold">Currency</span>
                                  <div class="inrSelect">
                                    <select class="h-100">
                                      <option value="IN">INR</option>
                                      <option value="US">USD</option>
                                      <option value="UK">$</option>
                                    </select>
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-6 pt-1">
                                <div class="mb-3 border border-dark rounded-4 p-3">
                                <p class="mb-0 f-16 fw-medium">By supporting <span class="color-1">Hingonia</span>, you
                                    are
                                    helping us reach out to more campaigns like this and scale our impact. <a href="{% url 'about-us' %}">Learn More</a>.</p>
                                <div class="row mt-2">
                                    <div class="col-7">
                                        <p class="mb-0 fw-bold f-14">Support us by :</p>
                                    </div>
                                    <div class="col-5 text-end">
                                        <select class="rounded-2 w-100 support_option">
                                            {% if campaign.payment_type == 'One Time' %}
                                            {% calculate_support_amt campaign.amt_1 as all_supp_amt %}
                                            <option value="{{all_supp_amt.0}}">
                                                8%(<i class="bi bi-currency-rupee"></i><span class="suppo_pr_1">{{all_supp_amt.0}}</span>) ▼
                                            </option>
                                            <option value="{{all_supp_amt.1}}">
                                                12%(<i class="bi bi-currency-rupee"></i><span class="suppo_pr_2">{{all_supp_amt.1}}</span>) ▼
                                            </option>
                                            <option value="{{all_supp_amt.2}}">
                                                14%(<i class="bi bi-currency-rupee"></i><span class="suppo_pr_3">{{all_supp_amt.2}}</span>) ▼
                                            </option>
                                            <option value="{{all_supp_amt.3}}">
                                                16%(<i class="bi bi-currency-rupee"></i><span class="suppo_pr_4">{{all_supp_amt.3}}</span>) ▼
                                            </option>
                                            <option value="other">
                                                Other ▼
                                            </option>
                                            {% endif  %}
                                        </select>
                                        <input style="display:none" type="number" placeholder="Amount" class="ctm_support_amt form-control mt-1" value="" name="ctm_support_amt">
                                    </div>
                                </div>
                            </div>
                              </div>
<!--                              <input type="hidden" value="" name="amount" class="active_amt">-->
                              <input type="hidden" value="" name="amount_11" class="donate_amt_1">
                              <div class="col-md-6 pt-1">
                                <div class=" messageBox">

                                  <div class="monthly_donate d-flex align-items-center">
                                    <div class="monthly d-flex align-items-center justify-content-between">
                                      <div class="DBtnWr">
                                        <button class="btn messageBox flexBoxCenter gap-2 fw-bold">
                                          <input type="checkbox" name="donate_monthly" class="md_btn donationMessage position-relative" id="donateMOnthly">
                                          <label class="f-14 m-0 py-1 form-check-label" for="donateMOnthly">
                                          Donate Monthly
                                          </label>



                                        </button>
                                      </div>
                                      <div class="d-flex flex-column align-items-end pe-lg-3 pe-2">
                                        <span class="f-12 fw-bold text-white taText" {{single.price}}>TOTAL AMOUNT</span>
                                        <span class="f-36 text-white fw-bold taRs active_amt_html" style="line-height:normal">{{single.price}}</span>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                                    <input type="hidden" class="single_amount" value="1.0">
                                    <input type="hidden" class="actual_amount" value="1.0">
                            <div class="col-12">
                              <div class="dSubmit pt-2">
                                <button class="btn btnPink fw-bold btnAnimation check_amount">DONATE NOW</button>
                              </div>
                            </div>
                          </div>
                          </div>

                          <div class="step d-none" id="step-2">
                            <div class="card_donate fw-medium zIndex-3 position-relative">
                              <p class="mb-1 f-14">
                                By supporting <span class="color-26 fw-bold">Hingonia</span>, you are helping us reach out to
                                more campaigns like this and scale our impact. <a href="{% url 'about-us' %}" class="color-26 text-decoration-underline fw-bold">Learn More.</a>
                              </p>
<!--                              <div class="d-flex justify-content-between">-->
<!--                                <span class="f-12 fw-bold">Support us by :</span>-->
<!--                                <span class="supportPer f-12 fw-bold px-1" style="background:#F5F5F5; border:2px inset #0000001c; border-radius: 5px">-->
<!--                                  <select class="h-100">-->
<!--                                    <option value="IN">16% (₹160)</option>-->
<!--                                    <option value="US">22% (₹200)</option>-->
<!--                                  </select>-->
<!--                                </span>-->
<!--                              </div>-->
                            </div>
                            <form action="/razor-pay" method="post"  id="donationForm">
                            {% csrf_token %}
                            <div class="donateForm_wr pt-3 pb-1">

                              <input type="hidden" class="active_amt"  name="amount">
                              <input type="hidden" value="{{campaign.id}}" class="campaign_id" name="campaign_id">
                              <input type="hidden" value="{{campaign.slug}}" class="campaign_slug" name="campaign_slug">
                              <input type="hidden" value="{{campaign.title}}" class="title" name="title">
                              <input type="hidden" value="" class="tip" name="tip">
                              <input type="hidden" value="" class="all_item_data" name="all_item_data">
                                <div class="mb-3 position-relative">
                                  <label for="nameInput" class="form-label position-absolute f-12 fw-medium">Name</label>
                                  <input required type="text" class="form-control" placeholder="Enter your name" name="first_name" id="nameInput" aria-describedby="nameHelp">
                                </div>
                                <div class="mb-3 position-relative">
                                  <label for="emailInput" class="form-label position-absolute f-12 fw-medium">Email</label>
                                  <input required type="email" name="email" class="form-control" placeholder="Enter you email" id="emailInput" aria-describedby="emailHelp">
                                </div>
                                <div class="mb-3 position-relative preffered_date_div" style="display:none;">
                                  <label for="PreferredInput" class="form-label position-absolute f-12 fw-medium">Preferred Date:</label>
                                <input disabled type="date" class="form-control" id="PreferredInput" name="preferred_date" required>
                                </div>
                                <div class="mb-3 position-relative">
                                  <div class="position-absolute country_code h-100">
                                    <select class="h-100">
                                      <option value="IN">IN</option>
                                      <option value="US">US</option>
                                      <option value="UK">UK</option>
                                    </select>
                                  </div>
                                  <label for="nameInput" class="form-label position-absolute f-12 fw-medium">Number</label>
                                  <input required type="text" name="phone_no" class="phone-number w-100" placeholder="+91 00000-00000">
                                  <div class="help-icon position-absolute flexBoxCenter" title="Enter your mobile number including the country code.">?</div>
                                </div>
                            </div>
                            <div class="donate_CountryBtn d-flex align-items-center mb-5">
                              <div>
                                <label class="form-check-label fw-bold me-2" for="nationality">Nationality</label>
                              </div>
                              <button class="countryBtn active" id="indian-btn">INDIAN</button>
                              <button class="countryBtn non_indian" id="non-indian-btn">NOT INDIAN</button>
                            </div>
                            <!-- <button class="btn btn-secondary prev-btn" onclick="prevStep(1)">Previous</button> -->
                            <div class="col-12">
                              <div class="dSubmit pt-2">

                                <button type="submit" class="btn btnPink fw-bold btnAnimation" >DONATE NOW</button>
                              </div>
                            </div>
                            </form>
                          </div>
                          <div class="step d-none" id="step-3">
                            <div class="f-30 fw-semibold text-center color-10 mt-5">🎁 Thank you for the donation 🎁</div>
                            <h5 class="display-6 fw-bold text-center color-10 pb-4">May Krishna &amp; Gau Mata Bless you.</h5>
                            <!-- <button class="btn btn-secondary prev-btn" onclick="prevStep(2)">Previous</button> -->
                            <div class="col-12">
                              <div class="dSubmit pt-2">
                                <button class="btn btnPink fw-bold btnAnimation">Submit</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
