{% extends "frontend/base.html" %}
{% load widget_tweaks %}
{% load static %}
{% load mytags %}
{% block body %}
{% for i in campaign_obj %}
{% if i.backgroud_type == 'red' %}
<section class="py-5 my-md-5 my-3 bg-1 campaign-section">
        <div class="container">
            <div class="row align-items-center justify-content-center g-4">
                <div class="col-md-3 text-center">
                    <img src="{% get_media_prefix %}{{i.campaign_image}}" width="270" class="img-fluid" alt="">
                </div>
                <div class="col-md-7">
                    <h2 class="banner-title-lite text-white"><a style="
    color: #fff;
" href="{% url 'ongoing-devotion' i.slug %}">{{i.title}}</a></h2>
                    <p class="page-desc  text-white">{{i.description}}
                    </p>
                    <div class="pt-3 pb-5">
                        <a href="#" data-title="{{i.short_title}}" data-bs-toggle="modal" data-bs-target="#helpMatajiModal"
                           class="help_mataji btn bg-white color-2 bg-white banner-btn campaign-btn-1"><img
		                        src="assets/images/foot-dark.png" width="20"
                                alt="">{{i.short_title}}</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% elif i.backgroud_type == 'white' %}
<section class="py-5 campaign-section">
        <div class="container">
            <div class="row align-items-center justify-content-center g-4">
                <div class="col-md-3 text-center">
                    <img src="{% get_media_prefix %}{{i.campaign_image}}" width="270" class="img-fluid" alt="">
                </div>
                <div class="col-md-7">
<!--                    <h2 class="banner-title">Contribute to <span>Adopt a Mataji</span> in Vrindavan</h2>-->
                    <h2 class="banner-title"><a href="{% url 'ongoing-devotion' i.slug %}">{{i.title|convert_spaces_to_span|safe}}</a></h2>
                    <p class="page-desc color-2">{{i.description}}
                    </p>
                    <div class="pt-3 pb-5 pb-md-3">
                        <a data-title="{{i.short_title}}" data-bs-toggle="modal" data-bs-target="#helpMatajiModal"
                           href="#"
                           class="help_mataji btn bg-1 text-white banner-btn campaign-btn-1"><img
		                        src="assets/images/foot.png" width="20"
                                alt="">{{i.short_title}}</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
{% endif %}
{% endfor %}
{% endblock %}
{% block script%}

{% endblock %}
