{% extends "frontend/base.html" %}
{% load widget_tweaks %}
{% load static %}
{% load mytags %}
{% block body %}
{% get_setting_data as setting_data %}
{% get_slider as all_slider %}

<section class="csr_banner mx-2 px-lg-5 pb-xl-2 pb-lg-4 position-relative">
            <div class="container-fluid">
                <div class="banner_contentWr">
                <div class="row">
                    <div class="col-lg-6 order-lg-1 order-2">
                        <div class="banner_icon text-center">
                            <img class="img-fluid" src="static/frontend/assets/images/csr/banner-img.png" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6 order-lg-2  order-1">
                        <div class="ps-lg-5 ps-md-3 p-0">
                            <h6 class="banner_subTitle ff-engagement f-36 color-23 ps-lg-5 ps-md-3 p-0">Hare Krishna</h6>
                            <h5 class="banner_subTitle m-0 f-40 fw-bold ps-lg-5 ps-md-3 p-0">become our</h5>
                            <h1 class="display-2 banner_Title fw-bold ps-lg-5 ps-md-3 p-0"><span class="color-21">CSR</span> Partner</h1>
                        </div>
                        <div class="desc ms-lg-auto ms-0">
                            <img class="img-fluid width-50 mb-2" src="static/frontend/assets/images/csr/quote.png" alt="">
                            <p class="fw-semibold ff-epilogue">
                                We work with our CSR partners to build customised programs that are mutually beneficial in achieving our collective goals.
                            </p>
                        </div>
                        <div class="become_csrPartner">
                            <a href="{% url 'trustee' %}" class="btn csrPartnerBtn bg-1 py-2 px-3 rounded-5 fw-bold">
                                Contact Us
                                <img class="ms-1" style="width:12px" src="static/frontend/assets/images/home/arrow-black-45.png"
                                alt="Become CSR partner">
                            </a>
                            <span class="ps-2 pe-1 fw-medium ff-epilogue">
                                <a class="text-dark" href="{% url 'trustee' %}">
                            Trustees</a>
                            </span>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </section>
        <section class="why_hingonia_Section">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-5 pt-5 ps-0">
                        <div class="wh_left pt-lg-5">
                            <img class="img-fluid" src="static/frontend/assets/images/csr/cow.png" alt="cow">
                            <div class="hst text-end">
                                <img class="img-fluid" src="static/frontend/assets/images/csr/line-track.png" alt="track">
                                <h6 class="display-5 fw-bold mb-0">8+ Years</h6>
                                <span  class="fw-semibold f-18">of continued seva</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 px-lg-5 px-md-3 pt-5 pt-lg-0">
                        <div class="wh_right">
                            <div class="certificate d-flex justify-content-md-between justify-content-center align-items-end">
                                <div class="circle">
                                    <img class="img-fluid d-none d-md-block" src="static/frontend/assets/images/csr/double-circle.png" alt="circle">
                                </div>
                                <div class="cr">
                                    <img class="img-fluid" src="static/frontend/assets/images/csr/certificate.png" alt="certificate">
                                    <div class="csr-certificate btnAnimation text-white fw-bold">
                                        <img class="img-fluid" style="width:28px" src="static/frontend/assets/images/csr/visibility.png" alt="view">
                                        <a class="text-white" href="{{setting_data.csr_certificate.url}}"> View CSR Certificate </a>
                                    </div>
                                </div>
                            </div>
                            <div class="whyHingonia_wr pe-xl-5 text-justify pt-4">
                            <h2 class="display-6 mb-3 fw-bold mb-0 text-start">Partner with Us for <span class="color-1">a Meaningful Impact</span>
                            </h2>
                            <p class="f-18 fw-semibold">Make a lasting impact with your CSR support by partnering with the <strong>Hingonia Cow Rehabilitation Centre</strong>, a vital sanctuary dedicated to the care of over <strong>16,000+ stray and injured cows</strong>. Our centre serves as a beacon of compassion, providing shelter, medical care, and a second chance to cows abandoned due to accidents, poverty, or neglect.</p>
                            <p class="f-18 fw-semibold">Your partnership with Hingonia Cow Rehabilitation Center aligns with your organization’s commitment to Corporate Social Responsibility (CSR), offering a unique opportunity to support:</p>
                            <div class="row">
                                <div class="col-md-6">
                                    <ul class="wcH position-relative">
                                        <li class="color-24">Animal Welfare Initiatives</li>
                                        <li class="color-24">Community Awareness and Engagement</li>
                                        <li class="color-24">Environmental Sustainability Programs: - Green Energy &amp; Renewable Energy </li>
                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <ul class="wcH position-relative">
                                        <li class="color-24">Skill Development Programs</li>
                                        <li class="color-24">Improvement of Animal Health</li>
                                        <li class="color-24">Research and Development for Sustainable Practices</li>
                                    </ul>
                                </div>
                            </div>
                            <!-- <ul class="wcH position-relative">
                                <li class="color-24">Animal Welfare Initiatives</li>
                                <li class="color-24">Environmental Sustainability Programs: - Green Energy & Renewable Energy </li>
                                <li class="color-24">Community Awareness and Engagement</li>
                                <li class="color-24">Skill Development Programs</li>
                                <li class="color-24">Improvement of Animal Health</li>
                                <li class="color-24">Research and Development for Sustainable Practices</li>
                            </ul> -->
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="our_partner_section pt-70">
            <div class="our_partner">
                <div class="partner_pg text-white text-center position-relative">
                    <h3 class="display-5 text-center fw-bold">Our Partners</h3>
                    <div class="payment_options flexBoxCenter">
                        {% for single in all_slider %}
                          {% if single.type == 'Our partners' %}
                          {% get_gallery single.id 'slider' as all_gallery_image %}
                          {% for single_image in all_gallery_image %}
                        <img class="img-fluid" src="{{single_image.file.url}}" alt="sbi">
                        {% endfor %}
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
        <section class="csr_form_section mx-2 py-3 px-lg-5 py-5">
                <div class="container-fluid" >
                    <div class="row">
                        <div class="col-xl-9 col-lg-8">
                            <div class="form_wr p-5" id="csr_form">
                                <div class="iconForm text-center">
                                    <img class="img-fluid width-80" src="static/frontend/assets/images/csr/email.png" alt="email">
                                </div>
                                <h6 class="text-center fw-bold f-18">Fill Information for CSR Opportunities</h6>
                                <form action="{% url 'csr' %}" method="post">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-4 px-2">
            <div class="mb-3">
                <label for="name" class="form-label f-12 fw-semibold">Name*</label>
                <input type="text" name="name" class="form-control f-14 fw-medium" id="name" placeholder="Enter your name" aria-describedby="nameHelp" required>
            </div>
        </div>
        <div class="col-md-4 px-2">
            <div class="mb-3">
                <label for="Number" class="form-label f-12 fw-semibold">Number*</label>
                <input type="text" name="mobile_no" class="form-control f-14 fw-medium" id="Number" placeholder="+00 | 00000-00000" aria-describedby="numberHelp" required>
            </div>
        </div>
        <div class="col-md-4 px-2">
            <div class="mb-3">
                <label for="Designation" class="form-label f-12 fw-semibold">Designation*</label>
                <input type="text" name="designation" class="form-control f-14 fw-medium" id="Designation" placeholder="Your Designation in the company" aria-describedby="designationHelp" required>
            </div>
        </div>
        <div class="col-md-6 px-2">
            <div class="mb-3">
                <label for="CompanyName" class="form-label f-12 fw-semibold">Company Name</label>
                <input type="text" name="company_name" class="form-control f-14 fw-medium" id="CompanyName" placeholder="Your Company Registered Name" aria-describedby="companyHelp" required>
            </div>
        </div>
        <div class="col-md-6 px-2">
            <div class="mb-3">
                <label for="Registered" class="form-label f-12 fw-semibold">Full Address</label>
                <input type="text" name="full_address" class="form-control f-14 fw-medium" id="Registered" placeholder="Your Company Registered Address" aria-describedby="addressHelp" required>
            </div>
        </div>
        <div class="col-md-12 px-2 mt-2">
            <div class="mb-3 position-relative subscribe">
                <input type="email" name="email" class="form-control f-14 fw-medium" id="email" placeholder="Enter your email" aria-describedby="button-addon2" required>
                <button class="btn f-14 fw-bold sendBtn position-absolute" type="submit" id="button-addon2">Send</button>
            </div>
        </div>
        <p class="f-14 text-center">Our Team will reach out to you soon</p>
    </div>
</form>

                            </div>
                            <div class="help text-center mt-4">
                                <p class="color-25 fw-bold mb-0">For more details, please contact us at <a class="text-dark" href="mailto:csr@skbt.org">csr@skbt.org</a></p>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 mt-lg-0 mt-5 pb-lg-5 pb-md-3 pb-0">
                            <div class="doc_linksWr pb-lg-5 pb-md-3">
                                <img class="form_arrow" src="static/frontend/assets/images/csr/arrow.png" alt="arrow">
                                <div class="doc_links text-center">
                                    <h6 class="fw-bold f-18 text-center">Links for Important Documents</h6>
                                    <div class="links mb-1">
                                        <img class="img-fluid" style="width:23px" src="static/frontend/assets/images/csr/visibility-black.png" alt="view">
                                        <a href="{{setting_data.csr_certificate.url}}" class="text-dark f-14 fw-bold text-decoration-underline">View CSR Certificate</a>
                                    </div>
                                    <div class="links mb-1">
                                        <img class="img-fluid" style="width:23px" src="static/frontend/assets/images/csr/visibility-black.png" alt="view">
                                        <a href="{{setting_data.three_years_report.url}}" class="text-dark f-14 fw-bold text-decoration-underline">Detailed Activity Report of 3 years</a>
                                    </div>
                                    <div class="links mb-1">
                                        <img class="img-fluid" style="width:23px" src="static/frontend/assets/images/csr/visibility-black.png" alt="view">
                                        <a href="{{setting_data.twelve_a_skbt.url}}" class="text-dark f-14 fw-bold text-decoration-underline">12 A - SKBT</a>
                                    </div>
                                    <div class="links mb-1">
                                        <img class="img-fluid" style="width:23px" src="static/frontend/assets/images/csr/visibility-black.png" alt="view">
                                        <a href="{{setting_data.eighty_g_skbt.url}}" class="text-dark f-14 fw-bold text-decoration-underline">80 G - SKBT</a>
                                    </div>
                                    <div class="links mb-1">
                                        <img class="img-fluid" style="width:23px" src="static/frontend/assets/images/csr/visibility-black.png" alt="view">
                                        <a href="{{setting_data.fcra_registration_certificate.url}}" class="text-dark f-14 fw-bold text-decoration-underline">FCRA - Registration Certificate</a>
                                    </div>
                                </div>
                                <a href="{{setting_data.csr_certificate.url}}" class="btn csr-certificate btnAnimation text-white fw-bold">
                                    <img class="img-fluid" style="width:28px" src="static/frontend/assets/images/csr/visibility.png" alt="view">
                                    View CSR Certificate
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
        </section>
        <section class="mission_objective pb-4 position-relative">
            <div class="mo_bg">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <h4 class="color-1 fw-bold text-center">Activities eligible for CSR</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="swiper objectiveCowSwiper pt-3 zIndex-3">
                            <div class="swiper-wrapper">
                                {% for single in all_slider %}
                                {% if single.type == 'Objectives & Mission' or single.type == 'Activities eligible for CSR' %}
                                <div class="swiper-slide ">
                                    <div class="heavenCow_content_wr position-relative rounded-5 overflow-hidden">
                                    <div class="card_desc px-4 pb-2">
                                        <h4 class="title fw-bold text-dark">{{single.title}}</h4>
                                        <p class="f-14 fw-medium text-dark">
                                        {{single.description}}
                                        </p>
                                    </div>
                                    </div>
                                </div>
                                {% endif %}
                                {% endfor %}
                            </div>
                            <!-- <div class="arrowsBtn_wr flexBoxCenter">
                                <div class="swiper-button-prev"></div>
                                <div class="swiper-button-next"></div>
                            </div> -->
                        </div>
                        <div class="text-center mt-4">
                            <div class="become_csrPartner">
                                <a href="#csr_form" class="btn csrPartnerBtn bg-1 py-2 px-3 rounded-5 fw-bold">
                                Become a CSR Partner
                                <img class="ms-1" style="width:12px" src="static/frontend/assets/images/home/arrow-black-45.png" alt="">
                                </a>
                                <a class="ps-2 pe-1 fw-medium ff-epilogue text-white" href="{% url 'trustee' %}">Trustees</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="px-lg-5 mt-4">
                        <h2 class="">Our Mission and Efforts</h2>
                        <p class="hs-desc zIndex-3 position-relative">Every day, a fleet of <strong>Jaipur Nagar Nigam ambulances</strong> transports nearly 100 cattle from Jaipur city to our rehabilitation centre. Among them, over <strong>30 arrive in critical condition</strong>, requiring immediate medical intervention and specialized care. Many families, due to poverty or lack of resources, are unable to care for their cattles, leading to abandonment. Hingonia stands as a vital solution, offering compassionate care to these animals while addressing the larger environmental and social challenges.</p>
                    </div>

                </div>
            </div>
        </div>
<!--            <img class="vector_bg position-absolute" src="static/frontend/assets/images/csr/vector.png" alt="">-->
        </section>
        <section class="background_section pb-5">
        <div class="container-fluid">
            <!-- <div class="row pb-4">
                <div class="col-12">
                    <h2 class="display-5 fw-bold text-center">Background</h2>
                </div>
            </div> -->
            <div class="row justify-content-center">
                <div class="col-md-6 p-0">
                    <div class="desc_left h-100 ps-lg-5 py-3">
                        <div class="px-4">
                            <h2>Creating Positive Change</h2>
                            <p class="hs-desc text-justify">By partnering with <strong>Sri Krishna Balram Seva Trust</strong> and the <strong>Government of Rajasthan</strong>, we are dedicated to transforming Hingonia Cow Rehabilitation Centre into a model for sustainability and animal welfare. Together, we aim to:</p>
                            <ul class="wcH position-relative">
                                <li class="color-24">Improve the health and well-being of stray and injured cows.</li>
                                <li class="color-24">Promote sustainable practices that protect the environment.</li>
                                <li class="color-24">Engage communities in animal welfare and environmental awareness.</li>
                            </ul>
                        </div>

                    </div>
                </div>
                <div class="col-md-6 ">
                    <div class="desc_right pe-lg-5 py-3">
                        <div class="px-4">
                            <h2>Make a Difference</h2>
                            <p class="hs-desc text-justify">Your CSR contributions will directly support:</p>
                            <ul class="wcH position-relative">
                                <li class="color-24">Infrastructure improvements for shelter and medical care.</li>
                                <li class="color-24">Nutritional programs to ensure proper fodder and health.</li>
                                <li class="color-24">Development of sustainable practices such as tree plantations, solar energy grids, and eco-friendly initiatives.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-10 col-lg-7 text-center">
                    <div class="p-3 rounded-4 mt-4 shadow">
                        <div class="desc_right pe-lg-5 py-3">
                            <div class="px-4 ">
                                <h2>Join Us Today</h2>
                                <p>Partner with Hingonia Cow Rehabilitation Centre and become a force for positive change. Together, we can create a compassionate, sustainable future for the community, the environment, and these vulnerable animals.</p>
                                <p>Contact Us to discuss your CSR partnership and explore how your support can make a measurable difference.</p>
                            </div>
                        </div>
                        <div class="become_csrPartner ms-3">
                            <a href="#" class="btn csrPartnerBtn bg-21 py-2 px-3 rounded-5 fw-bold">
                                Contact Us
                                <img class="ms-1" style="width:12px" src="/static/frontend/assets/images/home/arrow-black-45.png" alt="Become CSR partner">
                            </a>
                            <a href="trustees.php">
                                <span class="ps-2 pe-1 fw-medium ff-epilogue">
                                    Trustees
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="about_desc px-0"></div>
            </div>
        </div>
    </section>

        <section class="mx-2 py-80 ONAtHSection">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="text-center">
                        <img src="{% static 'frontend/assets/images/campaing/heart.svg' %}" alt="">
                        <h2 class="display-4 color-10">Our Urgent Need <span class="ff-antom fw-semibold color-10">at
                                Hingonia</span></h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class=" ps-0 ps-lg-5">
                    <div>
                        <div thumbsslider="" class="swiper ONAtHwiper swiper-initialized swiper-horizontal swiper-free-mode swiper-watch-progress swiper-backface-hidden swiper-thumbs">
                            <div class="swiper-wrapper" id="swiper-wrapper-f3910d5ce3d67c8ab" aria-live="polite" style="transform: translate3d(0px, 0px, 0px); transition-duration: 0ms; transition-delay: 0ms;">
                                <!-- Swiper slides with images -->
                                {% for single in all_slider %}
                                {% if single.type == 'CSR_MAIN' %}

                                <div class="swiper-slide swiper-slide-visible swiper-slide-fully-visible swiper-slide-active" role="group" aria-label="1 / 5" style="width: 101.429px; margin-right: 10px;"><img class="img-fluid" src="{{single.main_image.url}}" alt=""></div>

                                {% endif %}
                                {% endfor %}
                            </div>
                            <div class="arrowsBtn_wr flexBoxCenter">
                                <div class="swiper-button-prev" tabindex="0" role="button" aria-label="Previous slide" aria-controls="swiper-wrapper-a7a583a25cb9fd7a" aria-disabled="false"></div>
                                <div class="swiper-button-next swiper-button-disabled" tabindex="-1" role="button" aria-label="Next slide" aria-controls="swiper-wrapper-a7a583a25cb9fd7a" aria-disabled="true"></div>
                            </div>
                        <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
                        <div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" class="swiper ONAtHwiper2 text-center mt-3 swiper-initialized swiper-horizontal swiper-backface-hidden">
                            <div class="swiper-wrapper" id="swiper-wrapper-a7a583a25cb9fd7a" aria-live="off" style="transition-duration: 0ms; transform: translate3d(-5264px, 0px, 0px); transition-delay: 0ms;">
                                {% for single in all_slider %}
                                {% if single.type == 'CSR_MAIN' %}
                                <div class="swiper-slide active" role="group" aria-label="1 / 5" style="width: 1306px; margin-right: 10px;">
                                    <div class="row">
                                        <div class="col-lg-5 mb-4 mb-lg-0">
                                            <div class="imgWr position-relative">
                                                <img class="img-fluid w-100 rounded-4" src="{{single.main_image.url}}" alt="">
                                                <!--<div class="corner-text ff-antom">₹22,90,000/-</div>-->
                                            </div>
                                        </div>
                                        <div class="col-lg-7">
                                            <div class="contentWr">
                                                <h2 class="text-start color-1 ff-antom">₹{{single.amount}}/-</h2>
                                                <h5 class="f-28 text-uppercase text-start">{{single.title}}</h5>
                                                <p class="" style="text-align:justify">
                                                    {{single.description}}
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                {% endif %}
                                {% endfor %}
                            </div>
                        <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
                    </div>

                </div>
            </div>
        </div>
    </section>
       {% endblock %}
{% block script%}
<script>


</script>
{% endblock %}
