{% extends "frontend/base.html" %}
{% load widget_tweaks %}
{% load static %}
{% load mytags %}
{% block body %}
<style>
	.sticky-header{
		display:none;
	}
</style>
<section class="pb-5 bg-black">
	<section class="pt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <a
		                    href="./"><img src="{% static 'frontend/assets/images/distribution/logo-light.png' %}"
                                           class="img-fluid"
                                           alt=""></a>
                </div>
            </div>
        </div>
    </section>
        <div class="container">

            <div class="row g-4">
                <div class="col-md-6 col-6 pb-5 pb-md-2">
                    <div class="d-inline-block distribution-dropdown  p-md-4">
                        <div class="dropdown-center">
						    <select class="form-select" id="selectMonth">
						        <option selected disabled>Select Month</option>
						        <option value="1">January</option>
						        <option value="2">February</option>
						        <option value="3">March</option>
						        <option value="4">April</option>
						        <option value="5">May</option>
						        <option value="6">June</option>
						        <option value="7">July</option>
						        <option value="8">August</option>
						        <option value="9">September</option>
						        <option value="10">October</option>
						        <option value="11">November</option>
						        <option value="12">December</option>
						    </select>
						</div>

                    </div>
                </div>
                <div class="col-md-6 col-6 pb-5 pb-md-2 text-end">
                    <div class="d-inline-block distribution-dropdown  p-md-4">
                        <div class="dropdown-center">
						    <select class="form-select" id="selectyear">
						        <option selected disabled>Select Year</option>
							    {% for single in unique_years_list %}
						        <option value="{{single}}">{{single}}</option>
						        {% endfor %}
						    </select>
						</div>

                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="col-md-12">
	                <div class="distribution_html">
                    <!----- Web view Start ------->
                    <div class="swiper mySwiper p-md-4 d-none d-md-block swiper-initialized swiper-vertical swiper-backface-hidden">
                        <div class="swiper-wrapper" id="swiper-wrapper-15be8d3ae9594103e" aria-live="polite">

                            <div class="swiper-slide swiper-slide-active" role="group" aria-label="1 / 2"
                                 style="height: 302px;">
                                <div class="row g-5" style="width: 100%;">
	                                {% for single in distribution_obj %}
                                    <div class="col-md-3 col-6">
                                        <a href="{% url 'distribution_detail' single.id %}">
                                            <div class="gallery-box">
                                                <img
		                                                src="{{single.distribution_image.first.image.url}}"
                                                     class="img-fluid gallery-img" alt="">
                                                <div class="gallery-content">
                                                    <div class="row align-items-end h-100">
                                                        <div class="col-12">
                                                            <h3>{{single.title}}</h3>
                                                            <p>{{single.date}}.</p>
                                                            <div class="row align-items-center">
                                                                <div class="col-md-3">
                                                                    <img src="{% static 'frontend/assets/images/distribution/contribute.png' %}" class="img-fluid con-img" alt="">
                                                                </div>
                                                                <div class="col-md-9 text-start">
                                                                    <h4>{{single.date}}</h4>
                                                                    <p class="mb-0"><img src="{% static 'frontend/assets/images/distribution/location.png' %}" class="img-fluid" alt="">
                                                                        {{single.location}}
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-vertical"><span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button" aria-label="Go to slide 1" aria-current="true"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 2"></span></div>
                    <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div><!--- Swiper slider end--->
                    <!----- Web view End ---->


                    <!---- Mobile view start ----->
                    <div class="d-block d-md-none">
                        <div class="row g-5">
                            {% for single in distribution_obj %}
                                <div class="col-md-3 col-6">
                                <a href="{% url 'distribution_detail' single.id %}">
                                    <div class="gallery-box">
                                        <img
                                                src="{{single.distribution_image.first.image.url}}"
                                             class="img-fluid gallery-img" alt="">
                                        <div class="gallery-content">
                                            <div class="row align-items-end h-100">
                                                <div class="col-12">
                                                    <h3>{{single.title}}</h3>
                                                    <p>{{single.date}}.</p>
                                                    <div class="row align-items-center">
                                                        <div class="col-md-3">
                                                            <img src="{% static 'frontend/assets/images/distribution/contribute.png' %}" class="img-fluid con-img" alt="">
                                                        </div>
                                                        <div class="col-md-9 text-start">
                                                            <h4>{{single.date}}</h4>
                                                            <p class="mb-0"><img src="{% static 'frontend/assets/images/distribution/location.png' %}" class="img-fluid" alt="">
                                                                {{single.location}}
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            {% endfor %}

                        </div>
                    </div>
                    <!---- Mobile view end ----->
					</div>
                </div><!--- col-md-12 end--->
                <div class="col-12 text-center pt-3">
                    <a href="./" class="fs-3"><i class="text-white">Home</i></a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block script%}
<script>
	$(document).on("change","#selectMonth,#selectyear",function(e) {
		var month = $('#selectMonth').val()
		var year = $('#selectyear').val()
        if ((month !== null && month !== '') && (year !== null && year !== '')) {
			$.ajax({
				url: "{%  url 'distribution'  %}",
				method: 'POST',
				data: {'month':month, 'year': year,csrfmiddlewaretoken: '{{ csrf_token }}'},
				success: function (data) {
				    $('.distribution_html').html(data.distribution_html)
				}
			})
		}
})
</script>
{% endblock %}
