{% extends "frontend/base.html" %}
{% load widget_tweaks %}
{% load static %}
{% load mytags %}
{% block body %}
<section class="profile py-5">
        <div class="container">
            <div class="row g-md-5 g-3">
                <div class="col-md-5">
                    <div class="row g-3 form-left-div">
                        <div class="col-6">
                            <img src="{% static 'frontend/assets/images/hingonia-1.webp' %}" class="img-fluid" alt="">
                        </div>
                        <div class="col-6">
                            <img src="{% static 'frontend/assets/images/hingonia-2.webp' %}" class="img-fluid" alt="">
                        </div>
                        <div class="col-6">
                            <img src="{% static 'frontend/assets/images/hingonia-3.webp' %}" class="img-fluid" alt="">
                        </div>
                        <div class="col-6">
                            <img src="{% static 'frontend/assets/images/hingonia-4.webp' %}" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-md-7">

                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="true">Profile</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="donations-donation" data-bs-toggle="tab" data-bs-target="#donations-tab-pane" type="button" role="tab" aria-controls="donations-tab-pane" aria-selected="true">Donation</button>
                            <a href="{% url 'user-logout' %}" class="nav-link " i>Logout</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade active show" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
                            <form action="{% url 'profile' %}" method="post" class="mt-4" enctype="multipart/form-data">
                                {% csrf_token %}

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label for="">Name</label>
                                            <input value="{{request.user.first_name}}" name="name" type="text" class="form-control" placeholder="Name" required="">
                                        </div>
                                        <div class="mb-3">
                                            <label for="">Phone</label>
                                            <input value="{{request.user.mobile_no}}" name="mobile_no" type="number" class="form-control" placeholder="Phone" required="">
                                        </div>
                                        <div class="mb-3">
                                            <label for="">Email</label>
                                            <input value="{{request.user.email}}" readonly type="email" class="form-control" placeholder="Email" required="">
                                        </div>

                                    </div>
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label for="">Full Address</label>
                                            <input value="{{request.user.address}}" name="address" type="text" class="form-control" placeholder="Address">
                                        </div>
                                        <div class="mb-3">
                                            <label for="">Profile Picture</label>

                                            <div class="tb-container position-relative">
                                                <div class="tb-img-view">
                                                    <img id="tb-image" class="profile_img" src="{{request.user.profile|handle_image_url}}">
                                                </div>

                                                <label for="tb-file-upload">
                                                    <i class="bi bi-pencil-square fs-1"></i>
                                                </label>
                                                <input type="file" name="profile" class="profile" id="tb-file-upload" accept="image/*" onchange="fileUpload(event);">
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-md-12 text-end">
                                        <button class="cm-btn py-2" type="submit">Save</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane fade" id="donations-tab-pane" role="tabpanel" aria-labelledby="donations-tab" tabindex="0">
                            <h2 class="fw-bold f-18 gray my-4 text-center">Donation History | Request 80G</h2>
                            <div class="table-responsive">
                                <table class="table align-middle my_donation_tbl">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>
                                                <div class="row px-2">
                                                    <div class="col-4">
                                                        <h2 class="f-14 fw-bold gray mb-0">Cause</h2>
                                                    </div>
                                                    <div class="col-4">
                                                        <h2 class="f-14 fw-bold gray mb-0">Date</h2>
                                                    </div>
                                                    <div class="col-4">
                                                        <h2 class="f-14 fw-bold gray mb-0">Amount</h2>
                                                    </div>
                                                </div>
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for i in transaction_obj %}
                                        <tr style="vertical-align: top;">
                                            {% get_campaign_data i.campaign_id as campaign %}
                                            <td>
                                                <img src="{{campaign.campaign_obj.campaign_image|handle_image_url}}" class="mdt_img" alt="">
                                            </td>
                                            <td>
                                                <div class="row py-3 px-2 mx-1 border rounded-4">
                                                    <div class="col-4">
                                                        <h2 class="f-16 gray mb-0">{{i.productinfo}}</h2>
                                                        {% get_cam_product_item i.order_id as all_cam_product %}
                                                        {% if all_cam_product %}
                                                        {% for single in all_cam_product %}
                                                                {{single.product.title}} * {{single.quantity}} Qty<br>
                                                        {% endfor %}
                                                        {% endif %}
                                                    </div>
                                                    <div class="col-4">
                                                        <h2 class="f-16 gray mb-0">{{i.created_at|date:'d-m-Y'}}</h2>
                                                    </div>
                                                    <div class="col-4">
                                                        <h2 class="f-16 gray mb-0"><i class="bi bi-currency-rupee"></i>{{i.amount}}</h2>
                                                    </div>
                                                </div>
                                                <div class="row px-2 mx-1 justify-content-end align-items-center">
<!--                                                    <div class="col-4">-->
<!--                                                        <a href="#" class="mdt_cancel_btn">Cancel Mandate</a>-->
<!--                                                    </div>-->
<!--                                                    <div class="col-4">-->
<!--                                                        <p class="f-12 fw-bold mb-0 muted">renews 21/07/2024</p>-->
<!--                                                    </div>-->
                                                </div>
                                            </td>
                                            <td>
                                                {% if not i.is_80g_request %}
                                                <button data-id="{{i.id}}"
                                                   class="btn bg-1 text-white fw-bold w-100 request_now" data-bs-toggle="modal"
                                                   data-bs-target="#request_receipt" >Request 80G</button>
                                                {% elif i.is_80g_request_approve %}
                                                <a href="{% url 'download-80g' i.id %}"
                                                   class="btn bg-1 text-white fw-bold w-100">
                                                    <img src="{% static 'frontend/assets/images/icon/download.png' %}"
                                                         class="img-fluid"><br>Download
                                                    80G</a>
                                                {% elif not i.is_80g_request_approve %}
                                                    <a href="#" class="btn bg-1 text-white fw-bold w-100">
                                                    <img src="{% static 'frontend/assets/images/icon/pending.png' %}" class="img-fluid"><br>Pending
                                                    80G</a>
                                                {% endif %}
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </section>

<div class="modal fade" id="request_receipt" tabindex="-1" aria-labelledby="request_receipt" style=""
     aria-modal="true" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content bg-1">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

            </div>
	        <form action="{% url 'request-80g' %}" method="post">
		        {% csrf_token %}
            <div class="modal-body">
				<div class="row">
					<div class="row">
							<input type="hidden" class="transaction_id" name="transaction_id">
                            <div class="col-6 pb-3">
                                <label class="form-label text-white">Pan number
	                                <span class="text-error">*</span></label>
                                <input type="text" value="" name="pan_number" class="form-control pan_number"
                                       placeholder="Pan Number" aria-describedby="mobile-addon" required="">
                            </div>
                            <div class="col-6 pb-3">
                                <label class="form-label text-white">Address
	                                <span class="text-error">*</span></label>
                                <input type="text" value="" name="address" class="form-control address"
                                       placeholder="Address"
                                       aria-describedby="mobile-addon" required="">
                                <input type="submit" style="margin-top: 10px;"
                                       class="pt-2 btn bg-white color-2 w-100 fw-bold" value="Submit">

                            </div>
						

                        </div>
				</div>
            </div>

            <div class="modal-footer">
            </div>
			</form>
        </div>
    </div>
</div>
{% endblock %}
{% block script%}
<script>

$(document).on("click",".request_now",function() {
	var id  = $(this).attr('data-id')
	$('.transaction_id').val(id)
})

</script>
{% endblock %}
