{% extends "frontend/base.html" %}
{% load widget_tweaks %}
{% load static %}
{% load mytags %}
{% block body %}
<section xmlns="http://www.w3.org/1999/html">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 ps-0">
                    <div class="login-img-box">
	                    <img src="{% static 'frontend/assets/images/login/1.jpg' %}" class="img-fluid" alt="">
	                    <img src="{% static 'frontend/assets/images/login/2.png' %}" class="img-fluid" alt="">
	                    <img src="{% static 'frontend/assets/images/login/3.png' %}" class="img-fluid" alt="">

	                </div>
                </div>
                <div class="col-md-8">

	                 <form action="#" method="post">
		                 {% csrf_token %}
                        <div class="row justify-content-center">
                        <div class="col-lg-6 col-md-12 pt-lg-5">
                           <div class="login-form pt-md-5 pt-4">
                                <div class="mb-2">
                                    <label class="form-label">Email: <span class="text-error">*</span></label>
                                    <div class="input-group mb-1">
                                        <input class="form-control" type="email" id="phone_no" name="email" required>
                                    </div>
                                    <p class="text-error mb-0">{{error}}</p>
                                </div>
                                <div class="btn-box">
	                                <input style="" type="submit" value="Submit" href="#"
	                                       class="login-text btn btn-primary">
	                            </div>
                           </div>
                        </div>
                        
                        </div>
	                    </form>
                        <div class="col-lg-7 col-md-12 text-center pt-5">
                            <h2 class="login-title">A Help to those who need it.</h2>
                            <img src="assets/images/our-mothers/flower.png" class="img-fluid" alt="">
                            <h3 class="login-subtitle pt-3">Each donation is an essential help which improves everyone's
                                life</h3>
                        </div>
                    </div>

	                </form>
	                
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block script%}

{% endblock %}


