{% extends "frontend/base.html" %}
{% load widget_tweaks %}
{% load static %}
{% load mytags %}
{% block body %}
<section class="pt-5 pb-3">
        <div class="container">
            <div class="row text-center justify-content-center">
                <div class="col-lg-8 col-md-12">
                    <h5 class="f-36 fw-bold">Our Gallery</h5>
                    <p>
                        Welcome to the heartwarming world of our Cow Rehabilitation Centre, where we invite you to
                        explore and witness the incredible stories of compassion and care through our Image Gallery. Our
                        gallery showcases the serene and picturesque environment where rescued cows find solace and
                        healing.
                    </p>
                </div>
            </div>
        </div>
    </section>
<section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-4 py-3 text-center text-md-start">
                    <div class="d-inline-block distribution-dropdown">
                        <div class="dropdown-center ">
                            <button class="btn btn-outline-secondary dropdown-toggle " type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Select Month
                            </button>
                            <ul class="dropdown-menu dropdown-menu-start" style="">
                                <li><a class="dropdown-item" href="javascript:void(0)">January</a></li>
                                <li><a class="dropdown-item" href="javascript:void(0)">February</a></li>
                                <li><a class="dropdown-item" href="javascript:void(0)">March</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 py-3 text-center">
                    <img src="assets/images/campaign/contribute.png" width="80" class="img-fluid" alt="">
                </div>
                <div class="col-md-4 py-3 text-center text-md-end">
                    <div class="d-inline-block distribution-dropdown">
                        <div class="dropdown-center ">
                            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Select Year
                            </button>
                            <ul class="dropdown-menu dropdown-menu-start" style="">
                                <li><a class="dropdown-item" href="javascript:void(0)">2022</a></li>
                                <li><a class="dropdown-item" href="javascript:void(0)">2021</a></li>
                                <li><a class="dropdown-item" href="javascript:void(0)">2020</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<section class="photo-gallery pt-3">
        <div class="container">
            <div class="row pb-4 g-4 gallery-grid">
                <div class="col-md-3 col-6 gallery-col">
                    <a class="gallery-item" href="assets/images/gallery/mataji-1.jpg">
                        <img src="assets/images/gallery/mataji-1.jpg" class="img-fluid" alt="Mataji Adoption">
                    </a>
                </div>
                <div class="col-md-3 col-6 gallery-col">
                    <a class="gallery-item" href="assets/images/gallery/mataji-2.jpg">
                        <img src="assets/images/gallery/mataji-2.jpg" class="img-fluid" alt="Blanket Donation">
                    </a>
                </div>
                <div class="col-md-3 col-6 gallery-col">
                    <a class="gallery-item" href="assets/images/gallery/mataji-3.jpg">
                        <img src="assets/images/gallery/mataji-3.jpg" class="img-fluid" alt="Medical care">
                    </a>
                </div>
                <div class="col-md-3 col-6 gallery-col">
                    <a class="gallery-item" href="assets/images/gallery/mataji-4.jpg">
                        <img src="assets/images/gallery/mataji-4.jpg" class="img-fluid" alt="Mataji Adoption">
                    </a>
                </div>
                <div class="col-md-3 col-6 gallery-col">
                    <a class="gallery-item" href="assets/images/gallery/mataji-5.jpg">
                        <img src="assets/images/gallery/mataji-5.jpg" class="img-fluid" alt="Mataji Adoption">
                    </a>
                </div>
                <div class="col-md-3 col-6 gallery-col">
                    <a class="gallery-item" href="assets/images/gallery/mataji-6.jpg">
                        <img src="assets/images/gallery/mataji-6.jpg" class="img-fluid" alt="Mataji Adoption">
                    </a>
                </div>
                <div class="col-md-3 col-6 gallery-col">
                    <a class="gallery-item" href="assets/images/gallery/mataji-7.jpg">
                        <img src="assets/images/gallery/mataji-7.jpg" class="img-fluid" alt="Mataji Adoption">
                    </a>
                </div>
                <div class="col-md-3 col-6 gallery-col">
                    <a class="gallery-item" href="assets/images/gallery/mataji-8.jpg">
                        <img src="assets/images/gallery/mataji-8.jpg" class="img-fluid" alt="Mataji Adoption">
                    </a>
                </div>
                <div class="col-md-3 col-6 gallery-col">
                    <a class="gallery-item" href="assets/images/gallery/mataji-9.jpg">
                        <img src="assets/images/gallery/mataji-9.jpg" class="img-fluid" alt="Mataji Adoption">
                    </a>
                </div>
            </div>

            <div class="row pb-3">
                <div class="col-12 text-center pt-3">
                    <a href="./" class="fs-3"><i class="text-white">Home</i></a>
                </div>
            </div>
        </div>
    </section>
<div class="modal fade lightbox-modal" id="lightbox-modal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-fullscreen">
            <div class="modal-content">
                <button type="button" class="btn-fullscreen-exit d-none" aria-label="Exit fullscreen">
                    <svg class="bi">
                        <use href="#exit"></use>
                    </svg>
                </button>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="modal-body">
                    <div class="lightbox-content">
                        <!-- JS content here -->
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script%}
<script>


</script>
{% endblock %}
