{% extends "frontend/base.html" %}
{% load widget_tweaks %}
{% load static %}
{% load mytags %}
{% block body %}
<section class="pt-5">
        <div class="container">
            <div class="row text-center justify-content-center">
                <div class="col-lg-8 col-md-12">
                    <h5 class="f-36 fw-bold">Our Gallery</h5>
                    <p>
                        Welcome to the heartwarming world of our Cow Rehabilitation Centre, where we invite you to explore and witness the incredible stories of compassion and care through our Image Gallery. Our gallery showcases the serene and picturesque environment where rescued cows find solace and healing.


                    </p>
                </div>
            </div>
        </div>
    </section>
<div class="container">

            <div class="row g-4">
                <div class="col-md-6 col-6 pb-5 pb-md-2">
                    <div class="d-inline-block distribution-dropdown  p-md-4">
                        <div class="dropdown-center">
						    <select class="form-select" id="selectMonth">
						        <option selected disabled>Select Month</option>
						        <option value="1">January</option>
						        <option value="2">February</option>
						        <option value="3">March</option>
						        <option value="4">April</option>
						        <option value="5">May</option>
						        <option value="6">June</option>
						        <option value="7">July</option>
						        <option value="8">August</option>
						        <option value="9">September</option>
						        <option value="10">October</option>
						        <option value="11">November</option>
						        <option value="12">December</option>
						    </select>
						</div>

                    </div>
                </div>
                <div class="col-md-6 col-6 pb-5 pb-md-2 text-end">
                    <div class="d-inline-block distribution-dropdown  p-md-4">
                        <div class="dropdown-center">
						    <select class="form-select" id="selectyear">
						        <option selected disabled>Select Year</option>
							    {% for single in unique_years_list %}
						        <option value="{{single}}">{{single}}</option>
						        {% endfor %}
						    </select>
						</div>

                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="col-md-12">
	                <div class="distribution_html">
                    <!----- Web view Start ------->
                    <div class="swiper mySwiper p-md-4 d-none d-md-block swiper-initialized swiper-vertical swiper-backface-hidden">
                        <div class="swiper-wrapper" id="swiper-wrapper-15be8d3ae9594103e" aria-live="polite">

                            <div class="swiper-slide swiper-slide-active" role="group" aria-label="1 / 2"
                                >
                                <div class="row g-5" style="width: 100%;">
	                                {% for single in distribution_obj %}
                                    {% if single.type == 'Gallery' %}
                                    <div class="col-md-3 col-6">
                                        <a href="{% url 'distribution_detail' single.id %}">
                                            <div class="gallery-box">
                                                <img
		                                                src="{{single.main_image.url}}"
                                                     class="img-fluid gallery-img" alt="">
                                                <div class="gallery-content">
                                                    <div class="row align-items-end h-100">
                                                        <div class="col-12 text-center">

                                                            <h3>{{single.title}}</h3>
                                                            <p>{{single.created_at|date:"h:i"}}.</p>
                                                            <hr class="border-light">
                                                            <h4>{{single.created_at|date:"d-m-Y"}}</h4>
                                                            <p class="mb-0">{{single.location}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                    </div>
                                            </a>
                                    </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-vertical"><span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button" aria-label="Go to slide 1" aria-current="true"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 2"></span></div>
                    <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div><!--- Swiper slider end--->
                    <!----- Web view End ---->


                    <!---- Mobile view start ----->
                    <div class="d-block d-md-none">
                        <div class="row g-5">
                            {% for single in distribution_obj %}
                                <div class="col-md-3 col-6">
                                <a href="{% url 'distribution_detail' single.id %}">
                                    <div class="gallery-box">
                                        <img
                                                src="{{single.distribution_image.first.image.url}}"
                                             class="img-fluid gallery-img" alt="">
                                        <div class="gallery-content">
                                            <div class="row align-items-end h-100">
                                                <div class="col-12 text-center">
                                                    <h3>{{single.title}}</h3>
                                                    <p>{{single.date}}.</p>
                                                    <div class="row align-items-center">
                                                        {% if single.icon %}
                                                        <img
                                                                src="{% get_media_prefix %}{{single.icon}}"
                                                                class="img-fluid con-img" alt="">
                                                        {% else %}
                                                        <img src="{% static 'frontend/assets/images/distribution/contribute.png' %}" class="img-fluid con-img" alt="">
                                                        {% endif %}
                                                        <div class="col-md-9 text-start">
                                                            <h4>{{single.date}}</h4>
                                                            <p class="mb-0"><img src="{% static 'frontend/assets/images/distribution/location.png' %}" class="img-fluid" alt="">
                                                                {{single.location}}
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            {% endfor %}

                        </div>
                    </div>
                    <!---- Mobile view end ----->
					</div>
                </div><!--- col-md-12 end--->
                <div class="col-12 text-center pt-3">
                    <a href="./" class="fs-3"><i class="text-white">Home</i></a>
                </div>
            </div>
        </div>
</section>
<!--    Video section-->
<section class="mt-4 bg-light py-5 photo-gallery video_gallery">
        <div class="container">
            <div class="row mb-3">
                <div class="col-md-12 text-center">
                    <h5 class="f-36 fw-bold">Video Gallery</h5>
                </div>
            </div>
            <div class="row g-3">
                 {% for single in distribution_obj %}
                {% if single.type == 'Video' %}
                <div class="col-md-4 col-lg-3">
                        <a href="{% url 'distribution_detail' single.id %}">
                                            <div class="gallery-box">
                                                <img
		                                                src="{{single.main_image.url}}"
                                                     class="img-fluid gallery-img" alt="">
                                                <div class="gallery-content">
                                                    <div class="row align-items-end h-100">
                                                        <div class="col-12 text-center">
<i class="bi bi-play-circle text-white fs-1"></i>
                                                            <h3>{{single.title}}</h3>
                                                            <p>{{single.created_at|date:"h:i"}}.</p>
                                                            <hr class="border-light">
                                                            <h4>{{single.created_at|date:"d-m-Y"}}</h4>
                                                            <p class="mb-0">{{single.location}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                    </div>
                                            </a>

                </div>
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </section>
<!--    End-->
<!--  MONTHLY MAGAZINE  -->
    <section class="py-5">
        <div class="container">
            <div class="row mb-3">
                <div class="col-md-12 text-center">
                    <h5 class="f-36 fw-bold">Monthly Magazine</h5>
                </div>
            </div>
            <div class="row g-3">
                {% for single in distribution_obj %}
                {% if single.type == 'Magazine' %}
                <div class="col-md-4">
                    <div class="card card-body text-center bg-light shadow">
                        <embed src="{{single.pdf.url}}" class="mm-pdf mb-3">
                        <h5 class="mb-3 fw-medium">{{single.title}}</h5>
                        <a href="{{single.pdf.url}}" target="_blank" class="fw-bold btn btn-dark btn-sm">View</a>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
<!--    END-->


{% endblock %}
{% block script%}
<script type="text/javascript" src="{% static 'frontend/assets/js/gallery.js' %}"></script>

<script>
	$(document).on("change","#selectMonth,#selectyear",function(e) {
		var month = $('#selectMonth').val()
		var year = $('#selectyear').val()
        if ((month !== null && month !== '') && (year !== null && year !== '')) {
			$.ajax({
				url: "{%  url 'distribution'  %}",
				method: 'POST',
				data: {'month':month, 'year': year,csrfmiddlewaretoken: '{{ csrf_token }}'},
				success: function (data) {
				    $('.distribution_html').html(data.distribution_html)
				}
			})
		}
})
</script>
{% endblock %}
