{% extends "frontend/base.html" %}
{% load widget_tweaks %}
{% load static %}
{% load mytags %}
{% block body %}
<section class="py-5">
        <div class="container">
            <div class="row g-5 ">
                <div class="col-md-6">
                    <div class="row g-3 form-left-div">
                        <div class="col-6">
                            <img src="{% static 'frontend/assets/images/place-holder.png' %}" class="img-fluid" alt="">
                        </div>
                        <div class="col-6">
                            <img src="{% static 'frontend/assets/images/place-holder.png' %}" class="img-fluid" alt="">
                        </div>
                        <div class="col-6">
                            <img src="{% static 'frontend/assets/images/place-holder.png' %}" class="img-fluid" alt="">
                        </div>
                        <div class="col-6">
                            <img src="{% static 'frontend/assets/images/place-holder.png' %}" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <form action="{% url 'user-login' %}" method="post" class="">
                        {% csrf_token %}

                        <div class="mb-2 text-center">
                            <h2 class="fw-bold">Welcome Back</h2>
                            <p>We've missed you! Please sign in to catch up on what you've missed</p>
                        </div>

                        <div class="mb-3">
                            <label for="Email">Email</label>
                            <input type="email" name="email" class="form-control" placeholder="Enter your email" required="">
                        </div>
                        <div class="mb-3">
                            <label>Password</label>
                            <input type="password" name="password" class="form-control" placeholder="Enter your password" required="">
                        </div>
                        <div class="mb-4">
                            <div class="form-check d-inline-block">
                                <input class="form-check-input" type="checkbox" value="" id="rememberMeCheck">
                                <label class="form-check-label" for="rememberMeCheck">
                                    Remember Me
                                </label>
                            </div>
                            <a href="{% url 'forgot_password' %}" class="float-end fw-semibold f-14 text-decoration-underline">Forgot Password</a>
                        </div>
                        <div class="mb-3 text-center">
                            <button type="submit" class="btn btn-dark w-100 fw-semibold">Log in</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block script%}

{% endblock %}
