{% extends "frontend/base.html" %}
{% load widget_tweaks %}
{% load static %}
{% load mytags %}
{% block body %}
<meta property="og:title" content="{{campaign.title}}" />
<meta property="og:url" content="{% url 'ongoing-devotion' campaign.slug %}" />
<meta property="og:image" content="{% get_media_prefix %}{{campaign.campaign_backgroud}}" />
{% get_campaign_data campaign.id as campaign_data %}

<input type="hidden" class="promo_id" value="{{promo_no}}">
<input type="hidden" class="camp_id" value="{{campaign.id}}">
<section class="campaign_details_section mt-3 mb-5">
        <div class="container">
            <div class="row g-4">

                <div class="col-lg-7 col-md-7">
                    <div class="mb-3">
                        <a href="{% url 'campaign' %}" class="text-muted fw-semibold f-18">Campaigns</a>
                        <i class="bi bi-chevron-right gray"></i>
                        <span class="pink f-18 fw-semibold">{{campaign.title}}</span>
                    </div>
                    <div>
                    {% if campaign_data.video_id %}

                        <iframe height="315" style="width: 100%;border-radius: 20px;" src="{{campaign_data.video_id}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen=""></iframe>
                     {% elif campaign.campaign_image %}
                        <img src="{{campaign.campaign_image.url}}">
                    {% endif %}

                    </div>
                    <div class="campaign_amt">
                        <div class="row pb-2">
                            <div class="col-6">
                                <h6 class="mb-1 f-18 fw-bold">Raised</h6>
                                <h3 class="pink mb-1 fw-bold"><i class="bi bi-currency-rupee pink"></i>{{campaign_data.target|indian_number_format}}</h3>
                            </div>
                            <div class="col-6 text-end">
                                <h6 class="mb-1 f-18 fw-bold">Goal</h6>
                                <h3 class="mb-1 fw-bold"><i class="bi bi-currency-rupee"></i>{{campaign.goal|indian_number_format}}</h3>
                            </div>
                        </div>
                        <div class="progress">
                             <div class="progress-bar progress-bar-striped progress-bar-animated bg-2" role="progressbar"
                            style="width: {{campaign_data.percent}}%;" aria-valuenow="{{campaign_data.percent}}" aria-valuemin="0"
                             aria-valuemax="100">{{campaign_data.percent}}%</div>
                        </div>
                    </div>
                    <!--Gallery slider start-->
                    <div class="cds_gallery pt-2">
                        <div class="row align-items-center my-3">
                            <div class="col-7">
                                <img src="{% static 'frontend/assets/images/campaign/calendar.svg' %}" class="img-fluid" alt="">
                                <span class="date">{{campaign.created_at}}</span>
                            </div>
                            <div class="col-5 text-end">
                                <a href="javascript:void(0)" id="leftCdsGalleryIcon">
                                    <img src="{% static 'frontend/assets/images/campaign/left-arrow.png' %}" alt="">
                                </a>
                                <a href="javascript:void(0)" class="" id="rightCdsGalleryIcon">
                                    <img src="{% static 'frontend/assets/images/campaign/right-arrow.png' %}" alt="">
                                </a>
                            </div>
                        </div>

                        <div class="swiper campaignGallerySwiper">
                            <div class="swiper-wrapper gallery-grid">
                                {% get_gallery campaign.id 'gallery' as all_campaign_images %}
                                {% for single in all_campaign_images %}
                                {% if single.file %}
                                <div class="swiper-slide gallery-col">
                                     <a class="gallery-item" href="{{single.file.url}}">
                                    <img src="{{single.file.url}}"
                                         class="img-fluid"
                                         alt="">
                                     </a>
                                </div>
                                {% endif %}
                                {% endfor %}

                            </div>
                        </div>
                    </div>
                    <!--Gallery slider end-->

                    <div class="pt-4">
                        <h2 class="cds_title">{{campaign.title}}
                        </h2>
                    </div>
                    <div class="cds_ckeditor mt-4">
                        {{campaign.description|safe}}
                    </div>

                    <div class="mt-4 cds_social_link">
                        <h2 class="cds_sub_title">Share & Support:</h2>
                        <div>
                            <a href="#"><img src="{% static 'frontend/assets/images/campaign/facebook.svg' %}" class="img-fluid" alt=""></a>
                            <a href="#"><img src="{% static 'frontend/assets/images/campaign/insta.svg' %}" class="img-fluid" alt=""></a>
                            <a href="#"><img src="{% static 'frontend/assets/images/campaign/wp.svg' %}" class="img-fluid" alt=""></a>
                        </div>
                    </div>

                    <div class="mt-4">
                        <h2 class="cds_sub_title">Contact Us:</h2>
                        <div>
                            <a href="mailto:support@hingonia.com" class="gray d-block fw-semibold mb-2 color-1"><img
                                    src="{% static 'frontend/assets/images/campaign/mail.svg' %}" class="img-fluid pe-2" alt="mail">
                                    support@hingonia.com</a>
                            <a href="tel:+12345678920" class="gray  d-block fw-semibold color-1"><img
                                    src="{% static 'frontend/assets/images/campaign/call.svg' %}" class="img-fluid pe-2" alt="call"> +91 12345678920</a>
                        </div>
                    </div>
                    <div class="mt-4">
                        <h2 class="cds_sub_title">Terms & Conditions:</h2>
                        <p class="f-16 fw-medium">Please be advised that all contributions to our organization are final
                            and non-refundable.</p>
                        <p class="f-16 fw-medium">You agree to share information entered on this page with HINGONIA
                            (owner of this page) and Living Spark, adhering to applicable laws.</p>
                    </div>
                </div>

                <div class="col-lg-5 col-md-5 d-md-block d-none">
                    <div class="sticky-top cds-pt-110 z-0">
                        <h2 class="cds_title mb-3">Payment Details</h2>
                        <form action="/razor-pay" method="post" class="cds_form">
                            <input type="hidden" value="{{campaign.id}}" class="campaign_id" name="campaign_id">
                            <input type="hidden" value="{{campaign.title}}" class="title" name="title">
                            <input type="hidden" value="" class="all_item_data" name="all_item_data">

                                {% csrf_token %}
                            <div class="mb-3">
                                <input type="text" name="first_name" class="form-control" placeholder="Full Name" required>
                            </div>
                            <div class="mb-3">
                                <input type="email" name="email" class="form-control" placeholder="Email" required>
                            </div>
                            <div class="mb-3">
                                <input type="number" name="mobile_no" class="form-control" placeholder="Phone" required>
                            </div>


                            <div class="cds_product mb-3">
                                {% for single in campaign.product.all %}
		                        {% get_cam_item single.id campaign.id as all_cam_item %}
                                <div class="cds_pbox">
                                    <div class="row  align-items-center position-relative">
                                        <div class="col-md-7 col-7 pe-0">
                                            {% if single.image %}
                                            <img src="{{single.image.url}}" class="cds_product_img">
                                            {% endif %}
                                            <span class="cds_product_title">{{single.title}}</span>
                                        </div>
                                        <div class="col-md-5 col-5 ps-0 text-end">
                                            <span class="cds_product_price"><i
                                                    class="bi bi-currency-rupee"></i>{{single.price}}</span>

                                            <div class="cds_qty">
                                                <input data-id="{{single.id}}" data-price="{{single.price}}" data-name="{{single.title}}" class="minus-item f-14 decrement-btn qty-minus minusBtn" >
                                                <input type="number" class="item-count qty quantityInput" data-maxlength='1000' data-id="{{single.id}}" data-name="{{single.title}}" value="1">
                                                <input data-id="{{single.id}}" data-price="{{single.price}}" data-name="{{single.title}}" type="button" value="" class="plus-item f-14 increment-btn qty-plus plusBtn">
                                            </div>
                                        </div>
                                        <a href="javascript:void(0)" class="cds_info_icon">
                                            <img src="assets/images/campaign/info.png" class="img-fluid" alt="">
                                        </a>
                                        <div class="cds_product_info" style="display: none;">
                                            <p class="f-12 fw-medium">
                                                <img src="assets/images/campaign/steel.jpg" class="cds_product_img"
                                                    alt="">
                                                Welcome abandoned cows to a safe haven, with sturdy steel structures
                                                offering shelter and care. Join us in creating their sanctuary.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>

                            <div class="mb-3 cds_custom_amt position-relative">
                                <span>Donate Custom Amount - <i class="bi bi-currency-rupee"></i></span>
                                <input type="number" class="ctm_amt form-control" placeholder="_ _ _ _ _ _ _ _ _ _">
                            </div>
                            <div class="mb-3 border border-dark rounded-4 p-3">
                                <p class="mb-0 f-16 fw-medium">By supporting <span class="color-1">Hingonia</span>, you
                                    are
                                    helping us reach out to more campaigns like this and scale our impact. <a
                                        href="#">Learn More</a>.</p>
                                <div class="row mt-2">
                                    <div class="col-7">
                                        <p class="mb-0 fw-bold f-14">Support us by :</p>
                                    </div>
                                    <div class="col-5 text-end">
                                        <select class="rounded-2 w-100 support_option">
                                        </select>
                                        <input style="display:none" type="number" placeholder="Amount" class="ctm_support_amt form-control mt-1" value="" name="ctm_support_amt">
                                    </div>
                                </div>
                            </div>

                            <div class="form-check mb-3">
                                <input class="form-check-input" type="checkbox" value="" id="updateWpCheck">
                                <span class="checkmark"></span>
                                <label class="form-check-label" for="updateWpCheck">
                                    I want to receive transaction and donation updates on WhatsApp
                                </label>
                            </div>
                            <div class="mb-4">
                                <img src="assets/images/campaign/payment.svg" class="img-fluid" alt="">
                            </div>
                            <div class="mb-3">
                                <button type="submit" class="cds_btn ">
                                    Donate Here
                                    <span class="text-white float-end"><i
                                            class="bi bi-currency-rupee text-white"></i><span class="text-white active_amt_html"></span></span>
                                </button>
                                <input type="hidden" value="" name="amount" class="active_amt">
                                <input type="hidden" value="" name="amount_11" class="donate_amt_1">
                            </div>
                            <div class="cds_badge">
                                <span style="background: #00CD300D;">*Tax Exemptions Available</span>
                                <span style="background: #FF05050D;">*80G Receipt</span>
                                <span style="background: #004BD70D;">*Protected Payment</span>
                            </div>
                             <input type="hidden" value="" class="tip" name="tip">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

<div style="z-index:99999" class="modal fade " id="mobileCampaignModal" tabindex="-1" aria-labelledby="mobileCampaignModalLabel" aria-modal="true" role="dialog" style="display: block;">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">

            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title pink f-18 fw-semibold" id="mobileCampaignModalLabel">Construction Seva
                    </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/razor-pay" method="post" class="cds_form">
                            <input type="hidden" value="{{campaign.id}}" class="campaign_id" name="campaign_id">
                            <input type="hidden" value="{{campaign.title}}" class="title" name="title">
                            <input type="hidden" value="" class="all_item_data" name="all_item_data">

                                {% csrf_token %}
                            <div class="mb-3">
                                <input type="text" name="first_name" class="form-control" placeholder="Full Name" required>
                            </div>
                            <div class="mb-3">
                                <input type="email" name="email" class="form-control" placeholder="Email" required>
                            </div>
                            <div class="mb-3">
                                <input type="number" name="mobile_no" class="form-control" placeholder="Phone" required>
                            </div>


                            <div class="cds_product mb-3">
                                {% for single in campaign.product.all %}
		                        {% get_cam_item single.id campaign.id as all_cam_item %}
                                <div class="cds_pbox">
                                    <div class="row  align-items-center position-relative">
                                        <div class="col-md-7 col-7 pe-0">
                                            {% if single.image %}
                                            <img src="{{single.image.url}}" class="cds_product_img">
                                            {% endif %}
                                            <span class="cds_product_title">{{single.title}}</span>
                                        </div>
                                        <div class="col-md-5 col-5 ps-0 text-end">
                                            <span class="cds_product_price"><i
                                                    class="bi bi-currency-rupee"></i>{{single.price}}</span>

                                            <div class="cds_qty">
                                                <input data-id="{{single.id}}" data-price="{{single.price}}" data-name="{{single.title}}" class="minus-item f-14 decrement-btn qty-minus minusBtn" >
                                                <input type="number" class="item-count qty quantityInput" data-maxlength='1000' data-id="{{single.id}}" data-name="{{single.title}}" value="1">
                                                <input data-id="{{single.id}}" data-price="{{single.price}}" data-name="{{single.title}}" type="button" value="" class="plus-item f-14 increment-btn qty-plus plusBtn">
                                            </div>
                                        </div>
                                        <a href="javascript:void(0)" class="cds_info_icon">
                                            <img src="assets/images/campaign/info.png" class="img-fluid" alt="">
                                        </a>
                                        <div class="cds_product_info" style="display: none;">
                                            <p class="f-12 fw-medium">
                                                <img src="assets/images/campaign/steel.jpg" class="cds_product_img"
                                                    alt="">
                                                Welcome abandoned cows to a safe haven, with sturdy steel structures
                                                offering shelter and care. Join us in creating their sanctuary.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>

                            <div class="mb-3 cds_custom_amt position-relative">
                                <span>Donate Custom Amount - <i class="bi bi-currency-rupee"></i></span>
                                <input type="number" class="ctm_amt form-control" placeholder="_ _ _ _ _ _ _ _ _ _">
                            </div>
                            <div class="mb-3 border border-dark rounded-4 p-3">
                                <p class="mb-0 f-16 fw-medium">By supporting <span class="color-1">Hingonia</span>, you
                                    are
                                    helping us reach out to more campaigns like this and scale our impact. <a
                                        href="#">Learn More</a>.</p>
                                <div class="row mt-2">
                                    <div class="col-7">
                                        <p class="mb-0 fw-bold f-14">Support us by :</p>
                                    </div>
                                    <div class="col-5 text-end">
                                        <select class="rounded-2 w-100 support_option">
                                        </select>
                                        <input style="display:none" type="number" placeholder="Amount" class="ctm_support_amt form-control mt-1" value="" name="ctm_support_amt">
                                    </div>
                                </div>
                            </div>

                            <div class="form-check mb-3">
                                <input class="form-check-input" type="checkbox" value="" id="updateWpCheck">
                                <span class="checkmark"></span>
                                <label class="form-check-label" for="updateWpCheck">
                                    I want to receive transaction and donation updates on WhatsApp
                                </label>
                            </div>
                            <div class="mb-4">
                                <img src="assets/images/campaign/payment.svg" class="img-fluid" alt="">
                            </div>
                            <div class="mb-3">
                                <button type="submit" class="cds_btn ">
                                    Donate Here
                                    <span class="text-white float-end"><i
                                            class="bi bi-currency-rupee text-white"></i><span class="text-white active_amt_html"></span></span>
                                </button>
                                <input type="hidden" value="" name="amount" class="active_amt">
                                <input type="hidden" value="" name="amount_11" class="donate_amt_1">
                            </div>
                            <div class="cds_badge">
                                <span style="background: #00CD300D;">*Tax Exemptions Available</span>
                                <span style="background: #FF05050D;">*80G Receipt</span>
                                <span style="background: #004BD70D;">*Protected Payment</span>
                            </div>
                             <input type="hidden" value="" class="tip" name="tip">
                        </form>

                </div>
                <div class="modal-footer p-1">
                    <button type="submit" class="cds_btn ">
                        Donate Here
                        <span class="text-white float-end"><i class="bi bi-currency-rupee text-white"></i>500</span>
                    </button>

                </div>
            </div>

        </div>
    </div>
<a href="javascript:void(0)" class="footer_sticky_btn d-md-none d-block" data-bs-toggle="modal" data-bs-target="#mobileCampaignModal">Donate Now</a>{% endblock %}
{% block script%}
<script>
 shoppingCart.clearCart();
 var minimum_value = $('.minimum_value').val()
 function final_amt(){
    var donate_amt = $('.donate_amt_1').val()

    var support = $('.support_option').val()
    var support_amt = 0
    if(support == 'other'){
        support_amt = $('.ctm_support_amt').val()
        if(support_amt == ''){
            support_amt = 0
        }
    }else{
        support_amt = support
    }
    console.log("Donate amt")

    console.log(donate_amt)
    console.log("Support")
    $('.tip').val(support_amt)
    console.log(support_amt)

    donate_amt = parseInt(donate_amt) + parseInt(support_amt);

    $('.active_amt_html').html(donate_amt)
	$('.active_amt').val('')
	$('.active_amt').val(donate_amt)

 }
 final_amt()
 $(".ctm_option").click(function(){
     $('label').removeClass('cps-active')
     $('.cps-amount-radio input[name="amount_tt"]:checked').prop('checked', false);

	 $('.donate_amt_1').val(0)
	 console.log(minimum_value)
	 $('.ctm_amt').val()
	 $('.active_amt').val('')
	 $('.active_amt_html').html('')
     $('.ctm_option label').addClass('cps-active')
<!--     final_amt()-->
 })

$(".cps-amount-radio input").click(function(){
    shoppingCart.clearCart();
    $('.show-cart').html('')
    $('.quantityInput').val(1);
    $('.qtyBoxCmp').hide();
    $('.qty-box-btn').show();
	var amt = $(this).val()
	// Clear existing options
    $(".support_option").empty();
    $(".ctm_support_amt").val(0);
    $(".ctm_support_amt").hide()

    $('input[name="cps-pay"]:checked').prop('checked', false);

    if (amt !== "custom") {
        amt = parseInt(amt);

        var percentages = [8, 12, 14, 16];

        percentages.forEach(function(percent) {
            var value = (amt * percent / 100).toFixed(2);
            var optionText = percent + "% (" + value + ") ▼";
            $(".support_option").append(
                $("<option></option>").val(value).text(optionText)
            );
        });

        $(".support_option").append(
            $("<option></option>").val("other").text("Other ▼")
        );
    } else {
        $(".support_option").append(
<!--            $("<option></option>").val("other").text("Other ▼")-->
        );
    }
	var support = $('.support_option').val()
	var support_amt = 0
	if(support == 'other'){
		support_amt = $('.ctm_support_amt').val()
	}else{
		support_amt = support
	}
	$('.donate_amt_1').val(amt)
	amt = parseInt(amt)+parseInt(support_amt)
	if(amt!="custom"){
	console.log(amt)

	$('.active_amt_html').html(amt)
	$('.active_amt').val(amt)
	}

})
$('.ctm_option').click(function(){

	$('.ctm_amt').show()
<!--	ctm_calculate()-->

})

$(document).on("click",".qty-box-btn",function() {
    $('.cps-amount-radio input[name="amount_tt"]:checked').prop('checked', false);
    $('input[name="cps-pay"]:checked').prop('checked', false);
})

<!--$(document).on("click",".ctm_submit",function() {-->
<!--	var name = $('.mobile_view .first_name').val();-->
<!--    var mobile_no = $('.mobile_view .mobile_no').val();-->

<!--    if (name === "" || mobile_no === "") {-->
<!--        event.preventDefault(); // Prevent the form from submitting-->
<!--        alert("Name and mobile no fields are required.");-->
<!--    }-->
<!--})-->
$(document).on("keyup",".ctm_support_amt",function() {

	final_amt()
})

$(document).on("click", ".donate_now,.ctm_submit", function(e) {
    var amm = $('.active_amt').val();
    var payment_type = $('.payment_type').val();
    var firstName = $('.first_name').val().trim();
    var email = $('[name="email"]').val().trim();
    var mobileNo = $('[name="mobile_no"]').val().trim();
    support_val = $('.support_option').val()
    ctm_support_amt = $('.ctm_support_amt').val()
    if(support_val == 'other' & ctm_support_amt == ''){
        alert('Please add tip amount.');
        e.preventDefault();
        return;
    }

    console.log(minimum_value);
    console.log("Done");

    // Check if the fields are empty and prevent form submission if they are
    if (firstName === '') {
        alert('Please enter your name.');
        e.preventDefault();
        return;
    }

    if (email === '') {
        alert('Please enter your email.');
        e.preventDefault();
        return;
    }

    if (mobileNo === '') {
        alert('Please enter your mobile number.');
        e.preventDefault();
        return;
    }

    // Check if the donation amount meets the minimum value condition
    if (amm === '' || parseFloat(amm) <= minimum_value) {
        e.preventDefault();
        if (payment_type === 'Product') {
            var vv = parseFloat(minimum_value)+1
            alert('Please add some items. Minimum value is ' + vv);
        } else {
            var vv = parseFloat(minimum_value)+1
            alert('Minimum value is ' + vv);
        }
        return;
    }

    // If all conditions are met, submit the form
    $('form').submit();
});



$(document).on("change",".support_option",function() {
	var selected = $(this).val()
	if(selected == 'other'){
		$('.ctm_support_amt').show()
		$('.ctm_support_amt').val(0)
	}else{
		$('.ctm_support_amt').hide()
		final_amt()
	}
})
function ctm_calculate(amt){
    var amt_1 = (8 / 100) * amt
    var amt_2 = (12 / 100) * amt
    var amt_3 = (14 / 100) * amt
    var amt_4 = (16 / 100) * amt

    $('.support_option option').eq(0).text('8%(' + amt_1.toFixed(2) + ')').val(amt_1.toFixed(2));
    $('.support_option option').eq(1).text('12%(' + amt_2.toFixed(2) + ')').val(amt_2.toFixed(2));
    $('.support_option option').eq(2).text('14%(' + amt_3.toFixed(2) + ')').val(amt_3.toFixed(2));
    $('.support_option option').eq(3).text('16%(' + amt_4.toFixed(2) + ')').val(amt_4.toFixed(2));


    $('.active_amt_html').html(amt)
    $('.donate_amt_1').val(amt)
    final_amt()
}
$(document).on("keyup",".ctm_amt",function() {
		var amt = $(this).val()
		var amt_1 = (8 / 100) * amt
        var amt_2 = (12 / 100) * amt
        var amt_3 = (14 / 100) * amt
        var amt_4 = (16 / 100) * amt
        console.log("HERE")
        console.log(amt_1)
        console.log("End")
        make_dropdown(amt)
		$('.active_amt_html').html(amt)
		$('.donate_amt_1').val(amt)
		final_amt()

	})

</script>

<script>
	//======= Ongoing campaign ========
$(document).ready(function () {
  // Show the toast
  $('#ogNotification').toast('show');

  // Function to generate random content
  function generateRandomContent() {
    var randomContent = [
      {% for i in transaction_obj %}
      "{{i.firstname}} Just donated <strong><i class='bi bi-currency-rupee'></i>{{i.amount}}</strong> for Medical",
      {% endfor %}
    ];
    var randomIndex = Math.floor(Math.random() * randomContent.length);
    return randomContent[randomIndex];
  }

  // Hide and show the toast every 5 seconds
  setInterval(function () {
    $('#ogToastBody').html(generateRandomContent());
    $('#ogNotification').toast('hide');
    setTimeout(function () {
      $('#ogNotification').toast('show');
    }, 500); // Delay to ensure the toast is fully hidden before showing again
  }, 3000); // 5 seconds
});
</script>
<script>
        /****** pledgeSwiper ******/
        document.getElementById('leftCdsGalleryIcon').addEventListener('click', function (e) {
            e.preventDefault();
            campaignGallerySwiper.slidePrev();
        });

        document.getElementById('rightCdsGalleryIcon').addEventListener('click', function (e) {
            e.preventDefault();
            campaignGallerySwiper.slideNext();
        });
        /**************/
    </script>
{% endblock %}
