{% extends "frontend/base.html" %}
{% load widget_tweaks %}
{% load static %}
{% load mytags %}
{% block body %}
<meta property="og:title" content="{{compaign.title}}" />
<meta property="og:url" content="{% url 'ongoing-devotion' compaign.slug %}" />
<meta property="og:image" content="{% get_media_prefix %}{{compaign.campaign_backgroud}}" />
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="py-3 color-2 display-5 fw-bold">{{compaign.title}}</h2>
            </div>
            <div class="col-md-12 p-md-0 text-center">
                <img src="{% get_media_prefix %}{{compaign.campaign_backgroud}}" width="800" class="img-fluid rounded" alt="">
            </div>
	        <div class="col-md-12 pt-5">
                    <!-- Flexbox container for aligning the toasts -->
                    <div aria-live="polite" aria-atomic="true"
                        class="og-notification-box d-flex justify-content-center align-items-center w-100">
                        <!-- Then put toasts within -->
                        <div class="toast show" id="ogNotification" role="alert" aria-live="assertive"
                            aria-atomic="true">
                            <div class="toast-header">
                                <strong class="me-auto">New Donation</strong>
                                <!-- <small>11 mins ago</small> -->
                                <button type="button" class="btn-close" data-bs-dismiss="toast"
                                    aria-label="Close"></button>
                            </div>
                            <div class="toast-body" id="ogToastBody">
	                            
                                {{transaction_obj.first.firstname}} Just donated <strong><i class="bi bi-currency-rupee"></i>{{transaction_obj.first.amount}}</strong> for
                                Medical
                            </div>
                        </div>
                    </div>
	        </div>
        </div>
    </div>
</section>
<!--<section class="bg-img py-60 position-relative og-box"-->
<!--        style="background-image: url('{% get_media_prefix %}{{compaign.campaign_backgroud}}');">-->
<!--        <div class="campaign-overlay"></div>-->
<!--        <div class="container z-3 position-relative">-->
<!--            <div class="row">-->
<!--                <div class="col-md-12 pb-5">-->
<!--                    <div class="text-center">-->
<!--                        <span class="og-box-title display-5 bg-white color-2 fw-bold">{{compaign.title}} campaign</span>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-md-12 py-5">-->
<!--                    <div class="circle_all pt-5">-->
<!--                        <div class="circle_A">-->
<!--                            <img src="{% static 'frontend/assets/images/campaign/mango-icon.png' %}" class="img-fluid"-->
<!--                                 alt="">-->
<!--                        </div>-->
<!--                        <div class="circle_B"></div>-->
<!--                        <div class="circle_C"></div>-->
<!--                        &lt;!&ndash; <div class="circle_D"></div>-->
<!--                        <div class="circle_E"></div> &ndash;&gt;-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-md-12 pt-5">-->
<!--                    &lt;!&ndash; Flexbox container for aligning the toasts &ndash;&gt;-->
<!--                    <div aria-live="polite" aria-atomic="true"-->
<!--                        class="og-notification-box d-flex justify-content-center align-items-center w-100">-->
<!--                        &lt;!&ndash; Then put toasts within &ndash;&gt;-->
<!--                        <div class="toast show" id="ogNotification" role="alert" aria-live="assertive" aria-atomic="true">-->
<!--                            <div class="toast-header">-->
<!--                                <strong class="me-auto">New Donation</strong>-->
<!--                                &lt;!&ndash; <small>11 mins ago</small> &ndash;&gt;-->
<!--                                <button type="button" class="btn-close" data-bs-dismiss="toast"-->
<!--                                    aria-label="Close"></button>-->
<!--                            </div>-->
<!--                            <div class="toast-body" id="ogToastBody">-->
<!--                                {{transaction_obj.first.firstname}} Just donated <strong><i-->
<!--                                    class="bi bi-currency-rupee"></i>{{transaction_obj.first.amount}}</strong> for-->
<!--                                Bricks-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--</section>-->
<div class="row mt-5">
    <div class="col d-flex justify-content-center">
        <a data-title="{{compaign.short_title}}" data-bs-toggle="modal" data-bs-target="#helpMatajiModal" class="help_mataji box-btn blankets-btn bg-3"><img src="/static/frontend/assets/images/foot.png" width="20" alt="">&nbsp;&nbsp; Donate Now</a>
    </div>
</div>
	<section class="pt-5 section-campaign-details">
        <div class="container">
            <div class="row align-items-center g-4">
                <div class="col-md-4">
                    <img src="{% get_media_prefix %}{{compaign.campaign_image}}" class="img-fluid og-cmp-img"alt="">
                </div>
                <div class="col-md-8">
                    <h3>{{compaign.title}}</h3>
                    <p>{{compaign.description}}</p>
                </div>
            </div>
        </div>
    </section>
<section class="pt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <a href="{% url 'distribution' %}" class="btn bg-1 text-white fs-3">Our Recent Distribution ></a>
                </div>
            </div>
        </div>
    </section>
<!--<section class="photo-gallery pt-5">-->
<!--        <div class="container">-->
<!--            <div class="row pb-3">-->
<!--                <div class="col-md-12 text-center">-->
<!--                    <h2 class="banner-title">Campaign <span>Gallery</span></h2>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="row pb-4 g-4 gallery-grid">-->
<!--                <div class="col-md-3 col-6 gallery-col">-->
<!--                    <a class="gallery-item" href="{% static 'frontend/assets/images/gallery/mataji-1.jpg' %}">-->
<!--                        <img src="{% static 'frontend/assets/images/gallery/mataji-1.jpg' %}" class="img-fluid"-->
<!--                             alt="Mataji Adoption">-->
<!--                    </a>-->
<!--                </div>-->
<!--                <div class="col-md-3 col-6 gallery-col">-->
<!--                    <a class="gallery-item" href="assets/images/gallery/mataji-2.jpg' %}">-->
<!--                        <img src="{% static 'frontend/assets/images/gallery/mataji-2.jpg' %}" class="img-fluid" alt="Blanket Donation">-->
<!--                    </a>-->
<!--                </div>-->
<!--                <div class="col-md-3 col-6 gallery-col">-->
<!--                    <a class="gallery-item" href="{% static 'frontend/assets/images/gallery/mataji-3.jpg' %}">-->
<!--                        <img src="{% static 'frontend/assets/images/gallery/mataji-3.jpg' %}" class="img-fluid" alt="Medical care">-->
<!--                    </a>-->
<!--                </div>-->
<!--                <div class="col-md-3 col-6 gallery-col">-->
<!--                    <a class="gallery-item" href="{% static 'frontend/assets/images/gallery/mataji-4.jpg' %}">-->
<!--                        <img src="{% static 'frontend/assets/images/gallery/mataji-4.jpg' %}" class="img-fluid" alt="Mataji Adoption">-->
<!--                    </a>-->
<!--                </div>-->
<!--                <div class="col-md-3 col-6 gallery-col">-->
<!--                    <a class="gallery-item" href="{% static 'frontend/assets/images/gallery/mataji-5.jpg' %}">-->
<!--                        <img src="{% static 'frontend/assets/images/gallery/mataji-5.jpg' %}" class="img-fluid" alt="Mataji Adoption">-->
<!--                    </a>-->
<!--                </div>-->
<!--                <div class="col-md-3 col-6 gallery-col">-->
<!--                    <a class="gallery-item" href="{% static 'frontend/assets/images/gallery/mataji-6.jpg' %}">-->
<!--                        <img src="{% static 'frontend/assets/images/gallery/mataji-6.jpg' %}" class="img-fluid" alt="Mataji Adoption">-->
<!--                    </a>-->
<!--                </div>-->
<!--                <div class="col-md-3 col-6 gallery-col">-->
<!--                    <a class="gallery-item" href="{% static 'frontend/assets/images/gallery/mataji-7.jpg' %}">-->
<!--                        <img src="{% static 'frontend/assets/images/gallery/mataji-7.jpg' %}" class="img-fluid" alt="Mataji Adoption">-->
<!--                    </a>-->
<!--                </div>-->
<!--                <div class="col-md-3 col-6 gallery-col">-->
<!--                    <a class="gallery-item" href="{% static 'frontend/assets/images/gallery/mataji-8.jpg' %}">-->
<!--                        <img src="{% static 'frontend/assets/images/gallery/mataji-8.jpg' %}" class="img-fluid"-->
<!--                             alt="Mataji Adoption">-->
<!--                    </a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </section>-->
<section class="py-5 donor-list-section" id="donor-list">
        <div class="container">
            <div class="row g-md-3 g-3">
                <div class="col-md-12 text-center">
                    <h2 class="banner-title">Donor <span>List</span></h2>
                </div>
	            {% for single in transaction_obj_paginated %}
                <div class="col-md-3">
                    <div class="card bg-white border-dark">
                        <div class="card-body">
                            <h5 class="text-dark">Donor Name :
	                            {% if single.firstname %}
	                            <span class="color-2 fw-bold">{{single.firstname}}</span>
	                            {% else %}
                                <span class="color-2 fw-bold">Anonymous</span>
	                            {% endif %}
                            </h5>
                            <h6 class="text-dark">Donated <span class="color-2 fw-bold fs-5"><i
		                            class="bi bi-currency-rupee color-2"></i>{{single.amount}}</span> for {{single.productinfo}}</h6>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
	        <!-- Display pagination controls -->
<div class="" style="text-align: center;margin-top: 10px;">
    <span class="step-links">
        {% if transaction_obj_paginated.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ transaction_obj_paginated.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ transaction_obj_paginated.number }} of {{ transaction_obj_paginated.paginator.num_pages }}.
        </span>

        {% if transaction_obj_paginated.has_next %}
            <a href="?page={{ transaction_obj_paginated.next_page_number }}">next</a>
            <a href="?page={{ transaction_obj_paginated.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
        </div>
    </section>
<div class="modal fade lightbox-modal" id="lightbox-modal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-fullscreen">
            <div class="modal-content">
                <button type="button" class="btn-fullscreen-enlarge" aria-label="Enlarge fullscreen">
                    <svg class="bi">
                        <use href="#enlarge"></use>
                    </svg>
                </button>
                <button type="button" class="btn-fullscreen-exit d-none" aria-label="Exit fullscreen">
                    <svg class="bi">
                        <use href="#exit"></use>
                    </svg>
                </button>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="modal-body">
                    <div class="lightbox-content">
                        <!-- JS content here -->
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script%}
<script>
	//======= Ongoing campaign ========
$(document).ready(function () {
  // Show the toast
  $('#ogNotification').toast('show');

  // Function to generate random content
  function generateRandomContent() {
    var randomContent = [
      {% for i in transaction_obj %}
      "{{i.firstname}} Just donated <strong><i class='bi bi-currency-rupee'></i>{{i.amount}}</strong> for Medical",
      {% endfor %}
    ];
    var randomIndex = Math.floor(Math.random() * randomContent.length);
    return randomContent[randomIndex];
  }

  // Hide and show the toast every 5 seconds
  setInterval(function () {
    $('#ogToastBody').html(generateRandomContent());
    $('#ogNotification').toast('hide');
    setTimeout(function () {
      $('#ogNotification').toast('show');
    }, 500); // Delay to ensure the toast is fully hidden before showing again
  }, 3000); // 5 seconds
});
</script>
{% endblock %}
