{% extends "frontend/base.html" %}
{% load widget_tweaks %}
{% load static %}
{% load mytags %}
{% block body %}
<section class="bg-img py-60 position-relative og-box"
        style="background-size: contain;background-image: url('{% get_media_prefix %}{{compaign.campaign_image}}');">
        <div class="campaign-overlay"></div>
        <div class="container z-3 position-relative">
            <div class="row">
                <div class="col-md-12 pb-5">
                    <div class="text-center">
                        <span class="og-box-title display-5 bg-white color-2 fw-bold">{{compaign.title}} campaign</span>
                    </div>
                </div>
                <div class="col-md-12 py-5">
                    <div class="circle_all pt-5">
                        <div class="circle_A">
                            <img src="{% static 'frontend/assets/images/campaign/mango-icon.png' %}" class="img-fluid"
                                 alt="">
                        </div>
                        <div class="circle_B"></div>
                        <div class="circle_C"></div>
                        <!-- <div class="circle_D"></div>
                        <div class="circle_E"></div> -->
                    </div>
                </div>
                <div class="col-md-12 pt-5">
                    <!-- Flexbox container for aligning the toasts -->
                    <div aria-live="polite" aria-atomic="true"
                        class="og-notification-box d-flex justify-content-center align-items-center w-100">
                        <!-- Then put toasts within -->
                        <div class="toast show" id="ogNotification" role="alert" aria-live="assertive" aria-atomic="true">
                            <div class="toast-header">
                                <strong class="me-auto">New Donation</strong>
                                <!-- <small>11 mins ago</small> -->
                                <button type="button" class="btn-close" data-bs-dismiss="toast"
                                    aria-label="Close"></button>
                            </div>
                            <div class="toast-body" id="ogToastBody">
                                {{transaction_obj.first.firstname}} Just donated <strong><i
                                    class="bi bi-currency-rupee"></i>{{transaction_obj.first.amount}}</strong> for
                                Bricks
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

<section class="photo-gallery pt-5">
        <div class="container">
            <div class="row pb-3">
                <div class="col-md-12 text-center">
                    <h2 class="banner-title">Campaign <span>Gallery</span></h2>
                </div>
            </div>
            <div class="row pb-4 g-4 gallery-grid">
                <div class="col-md-3 col-6 gallery-col">
                    <a class="gallery-item" href="{% static 'frontend/assets/images/gallery/mataji-1.jpg' %}">
                        <img src="{% static 'frontend/assets/images/gallery/mataji-1.jpg' %}" class="img-fluid"
                             alt="Mataji Adoption">
                    </a>
                </div>
                <div class="col-md-3 col-6 gallery-col">
                    <a class="gallery-item" href="assets/images/gallery/mataji-2.jpg' %}">
                        <img src="{% static 'frontend/assets/images/gallery/mataji-2.jpg' %}" class="img-fluid" alt="Blanket Donation">
                    </a>
                </div>
                <div class="col-md-3 col-6 gallery-col">
                    <a class="gallery-item" href="{% static 'frontend/assets/images/gallery/mataji-3.jpg' %}">
                        <img src="{% static 'frontend/assets/images/gallery/mataji-3.jpg' %}" class="img-fluid" alt="Medical care">
                    </a>
                </div>
                <div class="col-md-3 col-6 gallery-col">
                    <a class="gallery-item" href="{% static 'frontend/assets/images/gallery/mataji-4.jpg' %}">
                        <img src="{% static 'frontend/assets/images/gallery/mataji-4.jpg' %}" class="img-fluid" alt="Mataji Adoption">
                    </a>
                </div>
                <div class="col-md-3 col-6 gallery-col">
                    <a class="gallery-item" href="{% static 'frontend/assets/images/gallery/mataji-5.jpg' %}">
                        <img src="{% static 'frontend/assets/images/gallery/mataji-5.jpg' %}" class="img-fluid" alt="Mataji Adoption">
                    </a>
                </div>
                <div class="col-md-3 col-6 gallery-col">
                    <a class="gallery-item" href="{% static 'frontend/assets/images/gallery/mataji-6.jpg' %}">
                        <img src="{% static 'frontend/assets/images/gallery/mataji-6.jpg' %}" class="img-fluid" alt="Mataji Adoption">
                    </a>
                </div>
                <div class="col-md-3 col-6 gallery-col">
                    <a class="gallery-item" href="{% static 'frontend/assets/images/gallery/mataji-7.jpg' %}">
                        <img src="{% static 'frontend/assets/images/gallery/mataji-7.jpg' %}" class="img-fluid" alt="Mataji Adoption">
                    </a>
                </div>
                <div class="col-md-3 col-6 gallery-col">
                    <a class="gallery-item" href="{% static 'frontend/assets/images/gallery/mataji-8.jpg' %}">
                        <img src="{% static 'frontend/assets/images/gallery/mataji-8.jpg' %}" class="img-fluid"
                             alt="Mataji Adoption">
                    </a>
                </div>
            </div>
        </div>
    </section>
<section class="py-5 donor-list-section" id="donor-list">
        <div class="container">
            <div class="row g-md-3 g-3">
                <div class="col-md-12 text-center">
                    <h2 class="banner-title">Donor <span>List</span></h2>
                </div>
	            {% for single in transaction_obj_20 %}
                <div class="col-md-3">
                    <div class="card bg-white border-dark">
                        <div class="card-body">
                            <h5 class="text-dark">Donor Name :
	                            <span class="color-2 fw-bold">{{single.firstname}}</span></h5>
                            <h6 class="text-dark">Donated <span class="color-2 fw-bold fs-5"><i
		                            class="bi bi-currency-rupee color-2"></i>{{single.amount}}</span> for {{single.productinfo}}</h6>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
<div class="modal fade lightbox-modal" id="lightbox-modal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-fullscreen">
            <div class="modal-content">
                <button type="button" class="btn-fullscreen-enlarge" aria-label="Enlarge fullscreen">
                    <svg class="bi">
                        <use href="#enlarge"></use>
                    </svg>
                </button>
                <button type="button" class="btn-fullscreen-exit d-none" aria-label="Exit fullscreen">
                    <svg class="bi">
                        <use href="#exit"></use>
                    </svg>
                </button>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="modal-body">
                    <div class="lightbox-content">
                        <!-- JS content here -->
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script%}
<script>
	//======= Ongoing campaign ========
$(document).ready(function () {
  // Show the toast
  $('#ogNotification').toast('show');

  // Function to generate random content
  function generateRandomContent() {
    var randomContent = [
      {% for i in transaction_obj %}
      "{{i.firstname}} Just donated <strong><i class='bi bi-currency-rupee'></i>{{i.amount}}</strong> for Medical",
      {% endfor %}
    ];
    var randomIndex = Math.floor(Math.random() * randomContent.length);
    return randomContent[randomIndex];
  }

  // Hide and show the toast every 5 seconds
  setInterval(function () {
    $('#ogToastBody').html(generateRandomContent());
    $('#ogNotification').toast('hide');
    setTimeout(function () {
      $('#ogNotification').toast('show');
    }, 500); // Delay to ensure the toast is fully hidden before showing again
  }, 3000); // 5 seconds
});
</script>
{% endblock %}
