{% extends "frontend/base.html" %}
{% load widget_tweaks %}
{% load static %}
{% load mytags %}
{% block body %}
<section class="pt-5">
        <div class="container">
            <div class="row text-center justify-content-center">
                <div class="col-lg-8 col-md-12">
                    <h5 class="f-36 fw-bold">Our Supporters</h5>
                    <p>
                        Welcome to the heartwarming world of our Cow Rehabilitation Centre, where we invite you to
                        explore and witness the incredible stories of compassion and care through our Image Gallery. Our
                        gallery showcases the serene and picturesque environment where rescued cows find solace and
                        healing.
                    </p>
                </div>
            </div>
        </div>
    </section>
<section class="pb-5 pt-3">
        <div class="container">
            <div class="row g-3">
                {% for single in our_supporter_obj %}
                <div class="col-lg-3 col-md-4">
                    <div class="">
                        <div class="rounded-5 overflow-hidden shadow">
                            <div class="">
                                <div class="swiper supportSlider1 swiper-initialized swiper-horizontal swiper-backface-hidden">
                                    <div class="swiper-wrapper" id="swiper-wrapper-8ad039b1854a984a" aria-live="off" style="transition-duration: 0ms; transform: translate3d(-534px, 0px, 0px); transition-delay: 0ms;">
                                        <div class="swiper-slide" role="group" aria-label="1 / 4" style="width: 267px;">
                                            <img src="{{single.photo.url}}" class="sustainable-card img-fluid" alt="sustainable-card">
                                        </div>
                                        <div class="swiper-slide" role="group" aria-label="1 / 4" style="width: 267px;">
                                            <img src="{{single.photo.url}}" class="sustainable-card img-fluid" alt="sustainable-card">
                                        </div>

                                    </div>
                                    <div class="swiper-pagination swiper-pagination-bullets swiper-pagination-horizontal"><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet swiper-pagination-bullet-active" aria-current="true"></span><span class="swiper-pagination-bullet"></span></div>
                                <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
                            </div>
                            <div class="card_desc py-3 pb-2 px-3">
                                <div class="iconWDesc mb-3 ">
                                    <div class="icon d-flex align-items-center gap-3">
                                        <img src="{{single.photo.url}}" alt="" style="width:40px">
                                        <span>{{single.title}}</span>
                                    </div>
                                </div>
                                <p class="f-14 fw-medium lineHeight-18 color-black75">
                                   {{single.description}}
                                </p>
                                <a href="" class="aw_cowfllBtn ourSupportBtn text-center" data-bs-toggle="modal" data-bs-target="#supportModel1">Know
                                    More</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
{% block script%}
<script>


</script>
{% endblock %}
