{% extends "frontend/base.html" %}
{% load widget_tweaks %}
{% load static %}
{% load mytags %}
{% block body %}
<section>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="banner-title-lite color-7 fst-italic ff-times fw-bold">Our Mothers</h2>
                    <div class="subtitle-box py-2">
                        <span>1000+ Matajis Adopted</span>
                        <span>100000+ Grocery Kits Distributed</span>
                        <span>30000+ Blankets</span>
                    </div>
                    <div>
                        <img src="assets/images/our-mothers/flower.png" class="img-fluid" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="mothers-list py-md-5 py-4">
        <div class="container">
            <div class="row g-3">
	            {% for single in mother_obj %}
                <div class="col-md-6 ml-box">
                    <div class="row">
                        <div class="col-md-3 pe-md-0">
                            <div class="mata-img">
                                <img src="{% get_media_prefix %}{{single.mother_image}}" class="img-fluid " alt="">
                            </div>
                        </div>
                        <div class="col-md-9 ">
                            <div class="mataji">
                                <h3 class="ml-title">{{single.title}}</h3>
                                <p class="ml-desc">{{single.description}}</p>
                                <div class="ml-btn-div">
                                    <a href="#" class="btn bg-1 text-white">Support Tulsi Mata</a>
                                </div>
                            </div>
<!--                            <div class="mataji-hn cm-d-none">-->
<!--                                <h3 class="ml-title">तुलसी शर्मा</h3>-->
<!--                                <p class="ml-desc">महिलाएं, अपने जीवनसाथी के निधन के बाद, आध्यात्मिक मोक्ष की तलाश में-->
<!--                                    वृन्दावन आती हैं। वे आश्रम में अन्य विधवाओं के साथ अपना जीवन व्यतीत करते हैं।</p>-->
<!--                                <div class="ml-btn-div">-->
<!--                                    <a href="#" class="btn bg-1 text-white">सेवा करे</a>-->
<!--                                </div>-->
<!--                            </div>-->

                        </div>
                    </div>
                </div>
				{% endfor %}
                

                <div class="col-md-12 pt-4 text-center">
                    <a href="#" class="scroll-down">Scroll Down</a>
                </div>

            </div>
        </div>
    </section>
{% endblock %}
{% block script%}

{% endblock %}
