{% extends "frontend/base.html" %}
{% load widget_tweaks %}
{% load static %}
{% load mytags %}
{% block body %}
<section class="bg-1 py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="text-white">Refund Policy</h2>
                </div>
            </div>
        </div>
    </section>
    

    <section class="py-md-5 py-4">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3>Refund Policy</h3>
                    <p>Once donated for a particular campaign, it cant be cancelled or refunded. But you can change the campaign or cause for which you have donated within 12 hours of donation.</p>
                    <p>After 12 hours cause for which donation is made cant be changed.</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block script%}

{% endblock %}
