{% extends "frontend/base.html" %}
{% load widget_tweaks %}
{% load static %}
{% load mytags %}
{% block body %}
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-lg-11 col-md-12 text-center pt-5">
                        <h2 class="login-title">🎁 Thank you for the donation 🎁</h2>
                        <img src="assets/images/our-mothers/flower.png" class="img-fluid" alt="">
                        <h3 class="login-subtitle pt-3">May Krishna & Gau Mata Bless you.</h3>
                    </div>
                    <div class="col-md-1"></div>
                </div>
                <div class="row align-center">
	                {% if not request.user.is_password_save %}
                        <form method="post" action="{% url 'set_password' %}" class="login-form pt-md-5 pt-4">
	                        {% csrf_token %}
	                        {% for field in form.visible_fields %}
	                        <div class="col-md-6 mb-3">
                                    <label class="form-label">{{ field.label_tag }} <span class="text-error">*</span></label>
									{% render_field field class="form-control" %}
	                        </div>
							{% endfor %}
                            <div class="col-md-12 pt-4 pb-5 text-center">
	                            <input type="submit" class="btn bg-1">
                            </div>
                        </form>
                    {% endif %}
                </div>

            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block script%}

{% endblock %}
