{% extends "frontend/base.html" %}
{% load widget_tweaks %}
{% load static %}
{% load mytags %}
{% block body %}
   <section class="trustees_sction overflow-hidden pt-5 position-relative">
        <div class="container">
            <div class="trustees">
                <div class="row">
                    <div class="col-12">
                        <h3 class="display-5 fw-bold text-center pb-3">Trustees</h3>
                    </div>
                    {% for single in trustree_obj %}
                    <div class="col-lg-3 col-md-4 col-sm-6 py-2 px-2">
                        <div class="card p-2">
                            <img src="{{single.photo.url}}" class="trustee-1 mx-auto img-fluid rounded w-100"alt="trustee-1">
                            <h6 class="fw-semibold mb-0 mt-2">{{single.title}}</h6>
                            <span>{{single.designation}}</span>
                            <p class="f-12">
                                {{single.description}}
                            </p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="executive-comittee">
                <div class="row">
                    <div class="col-12">
                        <h3 class="display-5 fw-bold text-center pb-2 pt-5">Executive Comittee</h3>
                    </div>
                    {% for single in trustree_obj %}
                    {% if single.type == 'Executive Committee' %}
                    <div class="col-lg-3 col-md-4 col-sm-6 py-2 px-2">
                        <div class="card p-2">
                            <img src="{{single.photo.url}}" class="trustee-1 mx-auto img-fluid rounded w-100"alt="trustee-1">
                            <h6 class="fw-semibold mb-0 mt-2">{{single.title}}</h6>
                            <span>{{single.designation}}</span>
                            <p class="f-12">
                                {{single.description}}
                            </p>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}

                </div>
            </div>
        </div>
      </section>


{% endblock %}
{% block script%}

{% endblock %}
