{% extends "frontend/base.html" %}
{% load widget_tweaks %}
{% load static %}
{% load mytags %}
{% block body %}
<section xmlns="http://www.w3.org/1999/html">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 ps-0">
                    <div class="login-img-box">
	                    <img src="{% static 'frontend/assets/images/login/1.jpg' %}" class="img-fluid" alt="">
	                    <img src="{% static 'frontend/assets/images/login/2.png' %}" class="img-fluid" alt="">
	                    <img src="{% static 'frontend/assets/images/login/3.png' %}" class="img-fluid" alt="">
	                    <img src="{% static 'frontend/assets/images/login/1.jpg' %}" class="img-fluid" alt="">
	                    <img src="{% static 'frontend/assets/images/login/2.png' %}" class="img-fluid" alt="">
	                    <img src="{% static 'frontend/assets/images/login/3.png' %}" class="img-fluid" alt="">
	                    <img src="{% static 'frontend/assets/images/login/1.jpg' %}" class="img-fluid" alt="">
	                    <img src="{% static 'frontend/assets/images/login/2.png' %}" class="img-fluid" alt="">
	                </div>
                </div>
                <div class="col-md-8">
	                
	                 <form action="#" method="post">
                        <div class="row justify-content-center">
						    <div class="col-lg-6 col-md-12 pt-lg-5">
						        <div class="login-form pt-md-5 pt-4">
						            <form method="post">
						                {% csrf_token %}
						                {% for field in form %}
							                {% if field.name != 'user_id' %}
						                    <div class="mb-2">
						                        <label class="form-label">{{ field.label }}{% if field.field.required %}<span class="text-error">*</span>{% endif %}</label>
						                        <div class="input-group mb-1">
                                                    {% render_field field class="form-control" %}
						                        </div>
						                        {% for error in field.errors %}
						                            <p class="text-error mb-0">{{ error }}</p>
						                        {% endfor %}
						                    </div>
							                {% else %}
						                        {{ field }}
						                    {% endif %}
						                {% endfor %}
						                <div class="btn-box">
						                    <input style="background: none; border: none;" type="submit" value="Submit" class="login-text">
						                </div>
						            </form>
						        </div>
						    </div>
						</div>
	                    </form>
                        <div class="col-lg-7 col-md-12 text-center pt-5">
                            <h2 class="login-title">A Help to those who need it.</h2>
                            <img src="assets/images/our-mothers/flower.png" class="img-fluid" alt="">
                            <h3 class="login-subtitle pt-3">Each donation is an essential help which improves everyone's
                                life</h3>
                        </div>
                    </div>
                    <div class="row login-info ">
                        <div class="col-md-4 py-4">
		                    <div class="about-title position-relative text-center">
		                        <img src="{% static 'frontend/assets/images/about-us/foot.png' %}" alt="">
		                        <h2>10000+</h2>
		                        <h3>Grocery Kits</h3>
		                    </div>
		                </div>
		                <div class="col-md-4 py-4">
		                    <div class="about-title position-relative text-center">
		                        <img src="{% static 'frontend/assets/images/about-us/foot.png' %}" alt="">
		                        <h2>30000+</h2>
		                        <h3>Blankets</h3>
		                    </div>
		                </div>
		                <div class="col-md-4 py-4">
		                    <div class="about-title position-relative text-center">
		                        <img src="{% static 'frontend/assets/images/about-us/foot.png' %}" alt="">
		                        <h2>10000+</h2>
		                        <h3>Widows Impacted</h3>
		                    </div>
		                </div>
                    </div>
	                </form>
	                
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block script%}

{% endblock %}


