{% extends "frontend/base.html" %}
{% load widget_tweaks %}
{% load static %}
{% load mytags %}
{% block body %}
<section class="AandW_page position-relative">
        <div class="container-fluid">
            <div class="row mx-2 pt-4 px-lg-5">
                <div class="col-xxl-6 col-md-7 offset-xxl-3 offset-lg-0">
                    <div class="d-flex justify-content-center toppart">
                      <div>
                          <div class="display-lg-4 display-6 fw-bold color-10 ff-Rubik awTopTitle">{{waiting_cow_len}} Cows</div>
                          <span class="color-10 f-32 ff-Rubik">Waiting</span>
                      </div>
                      <div class="line titleMiddleLine" style="width: 2px;background:#04402E;margin-left:30px;margin-right:30px"></div>
                      <div>
                          <div class="display-lg-4 display-6 fw-bold color-10 ff-Rubik awTopTitle">{{adopted_cow_len}} Cows</div>
                          <span class="color-10 f-32 ff-Rubik">Adopted</span>
                      </div>
                    </div>
                </div>
                <div class="col-xxl-3 col-md-5">
                  <div class="d-flex align-items-end justify-content-center justify-content-md-end gap-2 flex-md-column mt-md-0 mt-4 flex-wrap">
                    <!-- <a href="" class="awcowBtn ff-Rubik">Adopt Multiple Cows</a> -->
                    <a href="{% url 'adopted-cow' %}" class="awcowBtn ff-Rubik">Adopted Cows</a>
                  </div>
                </div>
                <div class="col-12">
                  <p class="adDescTop f-32 text-center color-10 fw-semibold mt-4 ff-Rubik" style="max-width:1100px; margin:0 auto;line-height:40px">
                  Get blessings of mother cow by adopting her and being a source of her monthly care and nourishments. $20 per month.
                  </p>
                </div>
            </div>
            <div class="row pt-4">
              {% for single in waiting_cow_paginated %}
              <div class="col-lg-4 col-md-6 mb-4">
                  <div class="boxCard">
                    <div class="card p-30 p-md-20 bg-5 borderR-40 ">
                      <img src="{{single.campaign_image.url}}" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title f-20 color-10 fw-semibold ff-Rubik mb-0">{{single.title}}</h5>
                        <span class="card-text color-10 ff-Rubik f-12">Id No.: HG145</span>
                        <div class="donatAmountM">
                          {% if single.mode == 'One Time' %}
                          <span class="fw-semibold color-10 ff-Rubik cardprice_title">{{single.price}}</span></span>
                          {% else %}
                          <span class="fw-semibold color-10 ff-Rubik cardprice_title">{{single.price}}<span class="f-20 color-10 ff-Rubik">/MONTH</span></span>
                          {% endif %}
                        </div>
                        {% if single.mode == 'One Time' %}
                        <a data-title="{{single.title}}" data-type="{{single.mode}}" data-amount="{{single.price}}" data-bs-toggle="modal" data-bs-target="#{% if single.mode == 'One Time' %}donate1{% else %}donate2{% endif %}" data-id="{{single.id}}" href="#" class="donate_now btn btn-primary color-10 ff-Rubik aw_cowfllBtn f-24 fw-bold mt-2 border-0">Adopt
                            {{single.title}} Cow</a>
                          {% else %}
                          <a href="{% url 'donate-monthly' single.slug %}" class="donate_now btn btn-primary color-10 ff-Rubik aw_cowfllBtn f-24 fw-bold mt-2 border-0">Adopt
                            {{single.title}} Cow</a>
                          {% endif %}
                      </div>
                    </div>
                  </div>
              </div>
              {% endfor %}
            </div>
            <div class="row aw_cow_pagination">
              <div class="col-12">
                  {% if transaction_obj_paginated.number > 0 %}
               <div class="" style="text-align: center;margin-top: 10px;">
    <span class="step-links">
        {% if transaction_obj_paginated.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ transaction_obj_paginated.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ transaction_obj_paginated.number }} of {{ transaction_obj_paginated.paginator.num_pages }}.
        </span>

        {% if transaction_obj_paginated.has_next %}
            <a href="?page={{ transaction_obj_paginated.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
              </div>
                {% endif %}
            </div>
        </div>
      </section>
<!--Payment model-->
 <div class="donateModel">
  <div class="modal fade donate2" id="donate2" data-bs-keyboard="false" tabindex="-1" aria-labelledby="donate1Label" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title fw-bold w-100 f-24">Cow Shed</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
    <div class="donateSilde steptabs" id="donateSlide">
      <div class="stepper">
        <div class="progress-container">
          <div class="progress">
            <div class="progress-bar" id="progress-bar" role="progressbar" style="width: 33%;" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <div class="step-circles">
            <div class="circle active" id="circle-1"></div>
            <div class="circle" id="circle-2"></div>
            <div class="circle" id="circle-3"></div>
          </div>
        </div>
        <div class="step w-100 d-none" id="step-11">

        </div>
        <div class="step" id="step-21">
          <div class="card_donate fw-medium zIndex-3 position-relative">
            <p class="mb-1 f-14">
              By supporting <span class="color-26 fw-bold">Hingonia</span>, you are helping us reach out to
              more campaigns like this and scale our impact. <a href="#" class="color-26 text-decoration-underline fw-bold">Learn More.</a>
            </p>
            <div class="d-flex justify-content-between">
              <span class="f-12 fw-bold">Support us by :</span>
              <span class="supportPer f-12 fw-bold px-1" style="background:#F5F5F5; border:2px inset #0000001c; border-radius: 5px">
                <select class="h-100">
                  <option value="IN">16% (₹160)</option>
                  <option value="US">22% (₹200)</option>
                </select>
              </span>
            </div>
          </div>
          <form method="post" action="post" id="" >
              {% csrf_token %}
          <div class="donateForm_wr pt-3 pb-1">

              <input type="hidden" id="campaign_id" name="campaign_id" value="">
              <input type="hidden" id="plan_id" name="plan_id" value="">
              <div class="mb-3 position-relative">
                <label for="nameInput" class="form-label position-absolute f-12 fw-medium">Name</label>
                <input type="text" required name="name" class="form-control" placeholder="Enter your name" id="nameInput" aria-describedby="nameHelp">
              </div>
              <div class="mb-3 position-relative">
                <label for="nameInput" class="form-label position-absolute f-12 fw-medium">Preferred date</label>
              <input type="date" class="form-control" id="preferred_date" name="preferred_date" required>
              </div>

              <div class="mb-3 position-relative">
                <label for="emailInput" class="form-label position-absolute f-12 fw-medium">Email</label>
                <input type="email" required name="email" class="form-control" placeholder="Enter your email" id="emailInput" aria-describedby="emailHelp">
              </div>
              <div class="mb-3 position-relative">
                <div class="position-absolute country_code h-100">
                  <select class="h-100">
                    <option value="IN">IN</option>
                    <option value="US">US</option>
                    <option value="UK">UK</option>
                  </select>
                </div>
                <input type="hidden" name="amount" class="amount">
                <label for="nameInput" class="form-label position-absolute f-12 fw-medium">Number</label>
                <input name="phone_no" required type="number" class="phone-number w-100" placeholder="+91 00000-00000">
                <div class="help-icon position-absolute flexBoxCenter" title="Enter your mobile number including the country code.">?</div>
              </div>

          </div>
          <div class="donate_CountryBtn d-flex align-items-center mb-5">
            <div>
              <label class="form-check-label fw-bold me-2" for="nationality">Nationality</label>
            </div>
            <button class="countryBtn active" id="indian-btn">INDIAN</button>
            <button class="countryBtn non_indian" id="non-indian-btn">NOT INDIAN</button>
          </div>
          <!-- <button class="btn btn-secondary prev-btn" onclick="prevStep(1)">Previous</button> -->
          <div class="col-12">
            <div class="dSubmit pt-2">
              <button type="submit" class="btn btnPink fw-bold btnAnimation">DONATE NOW</button>
            </div>
          </div>
          </form>
        </div>
        <div class="step d-none" id="step-3">
          <div class="f-30 fw-semibold text-center color-10 mt-5">🎁 Thank you for the donation 🎁</div>
          <h5 class="display-6 fw-bold text-center color-10 pb-4">May Krishna &amp; Gau Mata Bless you.</h5>
          <!-- <button class="btn btn-secondary prev-btn" onclick="prevStep(2)">Previous</button> -->
          <div class="col-12">
            <div class="dSubmit pt-2">
              <button class="btn btnPink fw-bold btnAnimation">Finish</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
      </div>
    </div>
  </div>
  <div class="modal fade donate1" id="donate1" data-bs-keyboard="false" tabindex="-1" aria-labelledby="donate1Label" aria-hidden="true" style="display: none;">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title fw-bold w-100 f-24">Cow Shed</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                <div class="donateSilde steptabs" id="donateSlide">
                  <div class="stepper">
                    <div class="progress-container">
                      <div class="progress">
                        <div class="progress-bar" id="progress-bar" role="progressbar" style="width: 33%;" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <div class="step-circles">
                        <div class="circle active" id="circle-1"></div>
                        <div class="circle" id="circle-2"></div>
                        <div class="circle" id="circle-3"></div>
                      </div>
                    </div>
                    <div class="step w-100 d-none" id="step-11">

                    </div>
                    <div class="step" id="step-21">
                      <div class="card_donate fw-medium zIndex-3 position-relative">
                        <p class="mb-1 f-14">
                          By supporting <span class="color-26 fw-bold">Hingonia</span>, you are helping us reach out to
                          more campaigns like this and scale our impact. <a href="#" class="color-26 text-decoration-underline fw-bold">Learn More.</a>
                        </p>
                        <div class="d-flex justify-content-between">
                          <span class="f-12 fw-bold">Support us by :</span>
                          <span class="supportPer f-12 fw-bold px-1" style="background:#F5F5F5; border:2px inset #0000001c; border-radius: 5px">
                            <select class="h-100">
                              <option value="IN">16% (₹160)</option>
                              <option value="US">22% (₹200)</option>
                            </select>
                          </span>
                        </div>
                      </div>
                      <form method="post" action="/razor-pay" id="" >
                          {% csrf_token %}
                      <div class="donateForm_wr pt-3 pb-1">

                          <input type="hidden" class="amount" id="amount" name="amount" value="">
                          <input type="hidden" class="campaign_id" id="campaign_id" name="campaign_id" value="">
                          <input type="hidden" class="title" id="title" name="title" value="">
                          <input type="hidden" class="plan_id" id="plan_id" name="plan_id" value="">
                          <div class="mb-3 position-relative">
                            <label for="nameInput" class="form-label position-absolute f-12 fw-medium">Name</label>
                            <input type="text" name="first_name" required class="form-control" placeholder="Enter your name" id="nameInput" aria-describedby="nameHelp">
                          </div>


                          <div class="mb-3 position-relative">
                            <label for="emailInput" class="form-label position-absolute f-12 fw-medium">Email</label>
                            <input type="text" name="email" required class="form-control" placeholder="Enter your email" id="emailInput" aria-describedby="emailHelp">
                          </div>
                          <div class="mb-3 position-relative">
                            <div class="position-absolute country_code h-100">
                              <select class="h-100">
                                <option value="IN">IN</option>
                                <option value="US">US</option>
                                <option value="UK">UK</option>
                              </select>
                            </div>
                            <input type="hidden" name="amount" class="amount">
                            <label for="nameInput" class="form-label position-absolute f-12 fw-medium">Number</label>
                            <input name="phone_no" required type="text" class="phone-number w-100" placeholder="+91 00000-00000">
                            <div class="help-icon position-absolute flexBoxCenter" title="Enter your mobile number including the country code.">?</div>
                          </div>

                      </div>
                      <div class="donate_CountryBtn d-flex align-items-center mb-5">
                        <div>
                          <label class="form-check-label fw-bold me-2" for="nationality">Nationality</label>
                        </div>
                        <button class="countryBtn active" id="indian-btn">INDIAN</button>
                        <button class="countryBtn non_indian" id="non-indian-btn">NOT INDIAN</button>
                      </div>
                      <!-- <button class="btn btn-secondary prev-btn" onclick="prevStep(1)">Previous</button> -->
                      <div class="col-12">
                        <div class="dSubmit pt-2">
                          <button type="submit" class="btn btnPink fw-bold btnAnimation">DONATE NOW</button>
                        </div>
                      </div>
                      </form>
                    </div>

                  </div>
                </div>
              </div>
                  </div>
                </div>
              </div>

 </div>
<!--End-->
{% endblock %}
{% block script%}
<script>

$(document).on("click",".donate_now",function() {
    var type = $(this).data('type')
    if(type == 'One Time'){
        var id = $(this).data('id')
        var amount = $(this).data('amount')
        var title = $(this).data('title')
        $('.donate1 .amount').val(amount)
        $('.donate1 .campaign_id').val(id)
        $('.donate1 .title').val(title)
    }

})

</script>
{% endblock %}
