{% extends "administrator/base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load mytags %}
{% block body %}
<div class="content">
                    <div class="container-fluid">
                        <div class="page-title-box">
                            <div class="row align-items-center">
                                <div class="col-sm-6">
                                    <h4 class="page-title">Campaign List</h4>
                                </div>
                                <div class="col-sm-6">
                                    <ol class="breadcrumb float-right">
                                    
                                    </ol>
                                </div>
                            </div> <!-- end row -->
                        </div>
	                    <div class="row align-items-center">
						    <form autocomplete="off" id="search_form" class="" action="" method="get" enctype="multipart/form-data">
						
						       <ul class="let-us-form">
						          <li>
						            <div class="form-group">
						              <label>Start Date</label>
						                <input class="form-control start_date" name="start_date">
						            </div>
						            </li>
						            <li>
						             <div class="form-group">
						              <label>End Date</label>
						                <input class="form-control end_date" name="end_date">
						            </div>
						            </li>
						           
						            <li>
						              <div class="form-group">
						                <button  type="submit" class="btn btn-primary submit">Apply</button>
						              </div>
						            </li>
						        </ul>
						  </form>
						</div>
<div class="row">
    <div class="col-12">
        <div class="card m-b-30">
            <div class="card-body">
                <table id="datatable" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                <thead>
                                <tr>
                                    <th>Campaign Name</th>
                                    <th>No of Donation</th>
                                    <th>Amount</th>
                                    <th></th>
                                </tr>
                                </thead>


                                <tbody>
	                            {% for single in campaign_obj %}
	                            {% get_promo_detail single.id promoter_obj.promoter_no as get_promo_detail %}
                                <tr>
                                    <td>{{single.title}}</td>
                                    <td>{{get_promo_detail.count}}</td>
                                    <td>{{get_promo_detail.amt}}</td>
                                    <td>
	                                    <a href="{% url 'ongoing-devotion-promo' single.slug promoter_obj.promoter_no %}" role="button"
	                                       class="btn btn-primary btn-sm mr-1">
	                                                                                                        Link</a>
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>


            </div>
        </div>
    </div> <!-- end col -->
</div> <!-- end row -->
                    </div>
</div>
{% endblock %}
{% block script %}
<script>
$('#datatable').DataTable()

</script>
{% endblock %}
