{% extends "administrator/base.html" %}
{% load widget_tweaks %}

{% block body %}
<div class="content">
                    <div class="container-fluid">
                        <div class="page-title-box">
                            <div class="row align-items-center">
                                <div class="col-sm-6">
                                    <h4 class="page-title">{% if form.instance.id %}Update{% else %}Create{% endif %}
                                                           Subscriber</h4>
                                </div>

                            </div> <!-- end row -->
                        </div>
                        <!-- end page-title -->

                        <div class="row">
                            <div class="col-12">
                                <div class="card m-b-30">
                                    <div class="card-body">
                                    <form enctype='multipart/form-data' class="form-horizontal m-t-30" method="POST">
                                        {{ form.media }}
                                        {% include "elements/form.html" with form=form %}
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                        <button type="reset" class="btn btn-secondary">Reset</button>
                                        <button type="cancel" class="btn btn-danger"><a class="text-white"
                                                                                        href="{% url 'subscriber-list-ajax' %}">
	                                        Cancel</a></button>
                                    </form>
                                    </div>
                                </div>
                            </div> <!-- end col -->
                        </div> <!-- end row -->


                    </div>
                    <!-- container-fluid -->

                </div>
{% endblock %}
{% block script %}
<script>
    $(document).ready(function () {
        $('#id_start_date').datetimepicker({
            format: 'Y-m-d H:i:s',
            timepicker: true,
            datepicker: true,
            step: 1,
        });
    });
</script>
{% endblock %}