{% extends "main.html" %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% block body %}
<div class="content">
            <div class="content">
              <div class="container-fluid">
                <div class="row">  
                  <div class="col-md-8" style="margin: 0 auto">
                  {% if messages %}
                      {% for message in messages %}
                        <div class="alert alert-{{ message.tags }} ">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <i class="material-icons">close</i>
                          </button>
                        <span class='upper'>{{ message }}</span>
                        </div>
                      {% endfor %}
                  {% endif %}
                    <div class="card ">
                      <div class="card-header card-header-primary card-header-icon">
                        <div class="card-icon">
                          <i class="material-icons">create</i>
                        </div>
                        <h4 class="card-title">Change Password</h4>
                      </div>
                      <div class="card-body ">
                        <form method="post">
                          {% csrf_token %}
                          
                          {% for field in form.visible_fields %}
                            <div class="form-group bmd-form-group  {% if field.errors %} has-danger {% endif %}">
                            <label for="{{ field.id_for_label }}" class="bmd-label-floating">{{ field.label }}</label>
                              {{ field|add_class:'form-control' }}
                              {% if field.errors %}
                                <label id="{{ field.id_for_label }}-error" class="error" for="{{ field.id_for_label }}">{{ field.errors.0 }}</label>
                              {% endif %}
                          </div>  
                            {% if field.help_text %}
                            <p>{{ field.help_text|safe }}</p>
                            {% endif %}
                          {% endfor %}
                        <div class="card-footer d-flex justify-content-end m-0">
                        <button class="btn btn-default mr-auto" id="btn-reset" type="reset">Reset</button>
                        <button type="submit" class="btn btn-fill btn-success">Submit</button>
                         <a href="{% url 'dashboard' %}" class='btn btn-danger' >Cancel</a>
                        </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

{% endblock %}

{% block static %}
<script>

</script>
{% endblock %}
