<table width="100%" border="0" cellspacing="0" cellpadding="0">
													<tr>
														<td class="p-50 mpx-15" bgcolor="#949196" style="border-radius: 0 0 10px 10px; padding: 50px;">
															<table width="100%" border="0" cellspacing="0" cellpadding="0">
																<tr>
																	<td align="center" class="pb-20" style="padding-bottom: 20px;">
																		<!-- Socials -->
																		<table border="0" cellspacing="0" cellpadding="0">
																			<tr>
																				<td class="img" width="34" style="font-size:0pt; line-height:0pt; text-align:left;">
																					<a href="#" target="_blank"><img src="https://www.psd2newsletters.com/templates/purple/images/ico_facebook.png" width="34" height="34" border="0" alt="" /></a>
																				</td>
																				<td class="img" width="15" style="font-size:0pt; line-height:0pt; text-align:left;"></td>
																				<td class="img" width="34" style="font-size:0pt; line-height:0pt; text-align:left;">
																					<a href="#" target="_blank"><img src="https://www.psd2newsletters.com/templates/purple/images/ico_instagram.png" width="34" height="34" border="0" alt="" /></a>
																				</td>
																				<td class="img" width="15" style="font-size:0pt; line-height:0pt; text-align:left;"></td>
																				<td class="img" width="34" style="font-size:0pt; line-height:0pt; text-align:left;">
																					<a href="#" target="_blank"><img src="https://www.psd2newsletters.com/templates/purple/images/ico_twitter.png" width="34" height="34" border="0" alt="" /></a>
																				</td>
																			</tr>
																		</table>
																		<!-- END Socials -->
																	</td>
																</tr>
																<tr>
																	<td class="text-14 lh-24 a-center c-white l-white pb-20" style="font-size:14px; font-family:'PT Sans', Arial, sans-serif; min-width:auto !important; line-height: 24px; text-align:center; color:#ffffff; padding-bottom: 20px;">
																		Address : Jaipur, Rajasthan
																		<br />
                                    Email : contact@alternates.co.in
																		<br />
																		<a href="tel:+918586935124" target="_blank" class="link c-white" style="text-decoration:none; color:#ffffff;"><span class="link c-white" style="text-decoration:none; color:#ffffff;">(+91) 8586935124</span></a>
																		<br />
                                    <a href="{{protocol}}://{{ domain }}" target="_blank" class="link c-white" style="text-decoration:none; color:#ffffff;"><span class="link c-white" style="text-decoration:none; color:#ffffff;">{{protocol}}://{{ domain }}</span></a>
																	</td>
																</tr>
															</table>
														</td>
													</tr>
												</table>
